.hero {
  background: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  .titles{
    h1{
      font: 700 2.6rem 'Open Sans';
      color: $green;
      @media(max-width:767px){
        font: 700 2rem 'Open Sans';
      }
      @media(max-width:575px){
        font-size: 2rem;
      }
      @media(max-width:430px){
        font-size: 1.6rem;
      }
    }
    h2{
      color: $teal;
      font-family: 'Open Sans';
      font-weight: 400;
      @media(max-width:767px){
        font-size: 2rem;
      }
      @media(max-width:430px){
        font-size: 1.6rem;
      }
    }
    
  }
  .bullet-points{
    h3{
      font: 700 25px 'Open Sans';
      color: $teal;
    }
  }
  .list{
    padding-left: 1.5rem;
    @media(max-width:767px){
      display: flex;
      justify-content: center;
      margin: 3rem 0;
    }
  }
  ul {
    padding: 0 .5em 0 1.75em;
    list-style: none;

    @media (max-width: 575px) {
      padding: 0 0 0 1.5em;
    }
    li {
      font: 700 20px/32px 'Open Sans';
      color: $teal;
      @media(max-width:991px){
        height: auto;
      }                      
      @media (max-width: 767px) {
        font: 900 18px 'Open Sans';
      }
      @media (max-width: 575px) {
        font: 900 17px 'Open Sans';
      }
      &:before {
        content: '';
        background: no-repeat 50% 50% / contain url('../img/ico_list.png');
        width: 1.55em;
        height: 1.55em;
        display: inline-block;
        margin-left: -1.55em; //platform edit
        position: relative;
        top: .25em;
        left: -1em;
      }
    }
  }

  .form{
    background: $darkgreen;
    h2{
      font: italic 600 2.2rem 'Open Sans';
      color: #fff;
    }
    @media(max-width: 767px){
      margin: 0 auto;
    }
    p{
      font: italic 600 12px/16.8px 'Open Sans';
      color: #53B5C9;
      text-align: center;
      margin-top: 2rem;
    }
  }
}


#bio {
  background: #fff;
  color: $teal;
  .container {
    max-width: 1200px;
  }
  .contact {
    p {
      color: $teal;
      font: 400 30px 'Open Sans';
    }
  }
  .content {
    color: $teal;
    font-weight: 300;
  }
  .btn-primary{
    @media(max-width: 1199px){
      font-size: 22px;
    }
  }
}

