.hero {
  padding: 40px 0;
  color: $white;
  background: $black;
  .container {
    @media(max-width: 767px){
      max-width: 472px;
    }
  }
  h1 {
    color: $white;
    font: 400 30px/34.8px 'roboto';
    margin-bottom: 50px;
    letter-spacing: -0.02em;
    @media(max-width: 575px){
      font: 400 26px/30.16px 'roboto';
    }
    strong {
      display: block;
      font: 700 38px/41.8px 'roboto';
      letter-spacing: -0.02em;
      margin-bottom: 5px;
      @media(max-width: 767px){
        margin-bottom: 10px;
      }
      @media(max-width: 575px){
        font: 700 34px/37.4px 'roboto';
      }
    }
  }
  .thankyou{
    font: 400 18px 'Roboto';
    color: #E4E2D0;
    letter-spacing: -0.02em;
  }
  h3 {
    font: 400 24px 'Satisfy';
  }
  .office{
    color: $white;
    font: 400 20px 'Roboto';
    strong {font-weight: 700;}
    @media(max-width: 767px){
      font-size: 18px;
    }
  }
  .btn-primary{
    display: block;
    max-width: 450px;
    margin: 0 auto;
  }
}