.modal-dialog {
  max-width: 1106px;
}
.modal-content {
  color: #fff;
  background: $black;
  h3 {
    color: $white;
    font-family: "Monda", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 67px;
    line-height: 110%;
    margin-bottom: 40px;
    @media(max-width: 767px){
      font-size: 48px;
    }
    @media(max-width: 575px){
      font-size: 35px;
    }
    @media(max-width: 375px){
      font-size: 22px;
    }
  }
  h4 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 116%;
    color: $lightkhaki;
    @media(max-width: 767px){
      font-size: 27px;
    }
    @media(max-width: 575px){
      font-size: 18px;
    }
  }
  .dismiss {
    display: inline-block;
    text-align: right;
    color: #c4c4c4;
    right: 20px;
    top: 20px;
  }
  .spam {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #0EDAFF;
  }
}
form {
  color: $black;
}