.btn-primary {
  font-weight: 400;
  @media(max-width:575px){
    font-size: 16px;
  }
}
.navbar{
  //display: flex;
  display: block;
  text-align: center;
  padding: 1rem 4rem !important;
  justify-content: center !important;
  background: $black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  @media(max-width: 991px){
    padding: 1.6rem 1rem !important;
  }
  @media(min-width: 1312px){
    justify-content: space-between !important;
    //text-align: left;
    text-align: center;
  }
  .navbar-brand{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 116%;
    color: #E5E2DC;
    @media(max-width:767px){
      font-size: 16px;
      white-space: normal;
      margin-right: 0;
    }
    @media(max-width:420px){
      font-size: 14px;
    }  
  }
  .btn-primary{
    color: $white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    &:hover{
      background: $darkpink;
      color: $white;
    }
  }
}

.hero {
  position: relative;
  min-height: 796px;
  border-bottom: 15px solid $black;
  background: $black url(../img/bg_lead-magnet.jpg) no-repeat center top / cover;
  .title {
    float: left;
    width: 670px;
    height: 462px;
    overflow: hidden;
    padding: 121px 116px 100px 124px;
    // padding: 10% 9% 10% 10%;
    color: $white;
    text-align: center;
    background: transparent url(../img/bg_lead-magnet-title.png) no-repeat center top / cover;
    h1 {
      font-family: "Monda", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 52px;
      line-height: 90%;
      text-transform: uppercase;
      margin-bottom: 20px;
      @media(max-width:991px){
        font-size: 46px;
      }
      @media(max-width:575px){
        font-size: 34px;
      }
    }
    h2 {
      font-family: "Monda", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 110%;
      text-transform: uppercase;
      @media(max-width:991px){
        font-size: 25px;
      }
      @media(max-width:575px){
        font-size: 20px;
      }
    }
    @media(max-width:991px){
      float: none;
      display: block;
      margin: 0 auto;
      width: 547px;
      height: 377px;
      padding: 82px 71px 100px 77px;
    }
    @media(max-width:575px){
      width: 420px;
      height: 290px;
      padding: 60px 54px 78px 57px;
    }
    @media(max-width:375px){
      position: absolute;
      overflow: hidden;
      top: 0;
      left: calc(50% - 210px);
    }
  }
}

.lead-section {
  background: linear-gradient(180deg, #E4E2D0 0%, #F2F0EB 100%);
}


.subscribe {
  color: $darkkhaki;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 116%;
  font-weight: 400;
  @media(max-width: 575px){
    font-size: 14px;
  }
  p {margin-bottom: 20px;}
  .btn-primary {
    padding: .58em 1.35em;
    border-radius: 200px;
    box-shadow: none;
    font-size: 21px;
    line-height: 131%;
    letter-spacing: 0;
  }
}

#inquiry{
  padding: 60px 0;
  background: $black url(../img/bg_inquiry.png) no-repeat right bottom;
  .btn {width: 158px; padding: 13.5px 0; font-weight: bold;}
  .form-wrapper {
    .form-bg {
      h2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 116%;
        text-align: center;
        letter-spacing: -0.02em;
        color: $white;
        strong {
          display: block;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 50px;
          line-height: 116%;
          text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          margin-top: 5px;
          @media(max-width:991px){
            font-size: 28px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
footer {
  padding: 0;
  .footer-contact {
    padding: 75px 0;
    border-top: 15px solid $black;
    border-bottom: 15px solid $black;
    background: $brightyellow;
    .footer-box {
      padding: 60px 0;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
      background: $white;
    }
      .footer-inner {
        padding-bottom: 0; border: none;
      }
  }
  .fine {
    color: $darkestblue;
    padding: 85px 0;
  }
}

