.btn-primary {
  font-weight: 400;
  @media(max-width:575px){
    font-size: 16px;
  }
}
hr {
  height: 2px;
  color: $black;
  border-color: $black;
  background: $black;
  display: block;
  padding: 0;
  margin: 60px auto;
  max-width: 1033px;
}
.navbar{
  //display: flex;
  display: block;
  text-align: center;
  padding: 1rem 4rem !important;
  justify-content: center !important;
  background: $black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  @media(max-width: 991px){
    padding: 1.6rem 1rem !important;
  }
  @media(min-width: 1312px){
    justify-content: space-between !important;
    //text-align: left;
    text-align: center;
  }
  .navbar-brand{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 116%;
    color: #E5E2DC;
    @media(max-width:767px){
      font-size: 16px;
      white-space: normal;
      margin-right: 0;
    }
    @media(max-width:420px){
      font-size: 14px;
    }  
  }
  .btn-primary{
    color: $white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    &:hover{
      background: $darkpink;
      color: $white;
    }
  }
}

.hero {
  position: relative;
  min-height: 796px;
  border-bottom: 15px solid $black;
  background: $black url(../img/bg_lead-magnet.jpg) no-repeat center top / cover;
  @media(max-width:375px){
    overflow: hidden;
  }
  .title {
    float: left;
    width: 670px;
    height: 462px;
    overflow: hidden;
    padding: 121px 116px 100px 124px;
    // padding: 10% 9% 10% 10%;
    color: $white;
    text-align: center;
    background: transparent url(../img/bg_lead-magnet-title.png) no-repeat center top / cover;
    h1 {
      font-family: "Monda", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 52px;
      line-height: 90%;
      text-transform: uppercase;
      margin-bottom: 20px;
      @media(max-width:991px){
        font-size: 46px;
      }
      @media(max-width:575px){
        font-size: 34px;
      }
    }
    h2 {
      font-family: "Monda", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 110%;
      text-transform: uppercase;
      @media(max-width:991px){
        font-size: 25px;
      }
      @media(max-width:575px){
        font-size: 20px;
      }
    }
    @media(max-width:991px){
      float: none;
      display: block;
      margin: 0 auto;
      width: 547px;
      height: 377px;
      padding: 82px 71px 100px 77px;
    }
    @media(max-width:575px){
      width: 420px;
      height: 290px;
      padding: 60px 54px 78px 57px;
    }
    @media(max-width:375px){
      position: absolute;
      overflow: hidden;
      top: 0;
      left: calc(50% - 210px);
    }
  }
}

.lead-section {
  padding: 100px 0 60px;
  background: linear-gradient(180deg, #E4E2D0 0%, #F2F0EB 100%);
  .point {
    border-top: 2px solid $black;
    padding: 80px 0 40px 0;
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    &:last-child {padding-bottom: 0;}
  }
  .lead-content {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 131%;
    color: $black;
    @media(max-width:575px){
      font-size: 16px;
    }
  }
  ul {
    li {
      font-family: "Monda", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 150%;
      @media(max-width:575px){
        font-size: 20px;
      }
    }
  }
  .icon {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h3 {
    font-family: "Monda", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 114%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 30px;
    background: transparent url(../img/bg_tag-yellow.png) no-repeat center center;
  }
  h4 {
    font-family: "Monda", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 116%;
    text-align: center;
    margin-bottom: 15px;
    text-transform: capitalize;
    @media(max-width:991px){
      font-size: 48px;
    }
    @media(max-width:575px){
      font-size: 40px;
    }
  }
  &.must-knows h3 {
    background: transparent url(../img/bg_tag-blue.png) no-repeat center center;
  }
}

.lead-header {
  min-height: 600px;
  border-top: 15px solid $black;
  border-bottom: 15px solid $black;
  position: relative;
  &.lead-header-left {
    background: $black url(../img/bg_header-risks.jpg) no-repeat center bottom / cover;
    @media(max-width:991px){
      background-position: center bottom;
    }
    @media(max-width:767px){
      min-height: 480px;
      background: $brightyellow;
    }
    @media(max-width:575px){
      overflow: hidden;
    }
  }
  &.lead-header-right {
    min-height: 670px;
    background: $black url(../img/bg_header-must-knows.jpg) no-repeat center bottom / cover;
    @media(max-width:991px){
      background-position: center bottom;
    }
    @media(max-width:767px){
      min-height: 480px;
      background: $linkblue;
    }
    @media(max-width:575px){
      padding-top: 100px;
    }
  }
  .title {
    float: left;
    width: 670px;
    height: 462px;
    overflow: hidden;
    padding: 175px 116px 100px 124px;
    color: $white;
    text-align: center;
    background: transparent url(../img/bg_title-header-risks.png) no-repeat center top / cover;
    h2 {
      font-family: "Monda", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 67px;
      line-height: 90%;
      text-transform: uppercase;
      margin-bottom: 0;
      @media(max-width:1199px){
        font-size: 54.3px;
      }
      @media(max-width:991px){
        font-size: 50px;
      }
      @media(max-width:575px){
        font-size: 35px;
      }
    }
    @media(max-width:991px){
      float: none;
      display: block;
      margin: 0 auto;
      width: 480px;
      height: 443px;
      padding: 200px 71px 100px 77px;
    }
    @media(max-width:575px){
      position: absolute;
      overflow: hidden;
      top: 0;
      left: calc(50% - 240px);
    }
  }
  &.lead-header-right .title {
    float: right;
    position: absolute;
    width: 806px;
    height: 444px;
    bottom: 50px;
    right: 0;
    padding: 175px 50px 100px 22px;
    background-image: url(../img/bg_title-header-must-knows.png);
    @media(max-width:1399px){
      width: 690px;
      height: 443px;
      padding: 140px 100px 150px 123px;
      bottom: 0;
      background-size: 100% 100%;
    }
    @media(max-width:1199px){
      width: 571px;
      height: 443px;
      padding: 140px 100px 150px 123px;
    }
    @media(max-width:767px){
      position: static;
      float: none;
      display: block;
      margin: 0 auto;
    }
    @media(max-width:575px){
      width: 320px;
      height: 320px;
      padding: 100px 0 0 0;
    }
    h2 {
      @media(max-width:1199px){
        font-size: 67px;
      }
      @media(max-width:991px){
        font-size: 67px;
      }
      @media(max-width:575px){
        font-size: 51px;
      }
    }
  }
}


.subscribe {
  color: $darkkhaki;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 116%;
  font-weight: 400;
  p {margin-bottom: 20px;}
  .btn-primary {
    padding: .58em 1.35em;
    border-radius: 200px;
    box-shadow: none;
    font-size: 21px;
    line-height: 131%;
    letter-spacing: 0;
  }
}

#final {
  padding: 90px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 131%;
  color: $lightgrey;
  background: $black;
  a {font-weight: bold;}
  @media(max-width:575px){
    font-size: 16px;
  }
  h2 {
    font-family: "Monda", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 116%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
    color: $white;
    @media(max-width:991px){
      font-size: 48px;
    }
    @media(max-width:575px){
      font-size: 40px;
    }
  }
}

#inquiry{
  padding: 60px 0;
  background: $black url(../img/bg_inquiry.png) no-repeat right bottom;
  .btn {width: 158px; padding: 13.5px 0; font-weight: 500; font-size: 20px;}
  .form-wrapper {
    .form-bg {
      h2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 116%;
        text-align: center;
        letter-spacing: -0.02em;
        color: $white;
        strong {
          display: block;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 50px;
          line-height: 116%;
          text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          margin-top: 5px;
          @media(max-width:991px){
            font-size: 28px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
footer {
  padding: 0;
  .footer-contact {
    padding: 75px 0;
    border-top: 15px solid $black;
    border-bottom: 15px solid $black;
    background: $brightyellow;
    .footer-box {
      padding: 60px 0;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
      background: $white;
    }
      .footer-inner {
        padding-bottom: 0; border: none;
      }
  }
  .fine {
    color: $darkestblue;
    padding: 85px 0;
  }
}

