.hero {
  overflow: hidden;
  position: relative;
  background: $black;
  p{
    font: 400 22px 'Montserrat';
    margin: 0;
    color: $darkgrey;
    @media(max-width: 767px){
      font: 400 18px/24px 'Montserrat';
    }
  }
  .btn {max-width: 287px;}
  .mobile-image-1 img {
    @media (max-width: 767px) {
      max-height: 350px;
    }
  }
  em {
    display: block;
    color: $brightyellow;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 122%;
    margin-bottom: 20px;
    letter-spacing: 0.015em;
  }
  h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    //font-size: 88px;
    font-size: 76px;
    line-height: 110%;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      //font-size: 75px;
      font-size: 64px;
    }
    @media (max-width: 575px) {
      //font-size: 65px;
      font-size: 56px;
    }
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 122%;
    color: #E4E2D0;
    letter-spacing: 0.015em;
    margin-bottom: 25px;
  }
  ul {
    padding: 0 .5em 0 15px;
    @media (max-width: 575px) {
      padding: 0;
    }
    li {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 122%;
      letter-spacing: 0.015em;
      color: #E4E2D0;
      margin-bottom: 10px;
    }
  }
  .bottom {
    @media (max-width: 1199px) {
      display: block;
      margin: 0 auto;
      max-width: 660px;
    }
  }
}
.quote {
  background: $lightpink;
  color: #0D2646;
  padding: 60px 0;
  blockquote {
    font: 400 28px/36.68px 'Roboto', sans-serif;
    @media (max-width: 575px) {
      font-size: 21px;
    }
  }
}
