.hero {
  background: $lightgrey;
  h1 {
    font: 900 64px/66.56px 'Roboto', sans-serif;
    color: $black;
  }
  h2 {
    font: 400 35px/42.7px 'Roboto', sans-serif;
    color: $black;
    margin: 25px auto 0;
  }
  .box {
    position: relative;
    background: $darkestblue;
    &.right {background: $lightkhaki;}
    p {
      font: 400 22px/30px 'Roboto';
      color: #fff;
      margin: 0;
    }
    .content{
      min-height: 122px;
      h3{
        font: 700 20px/110% 'Roboto';
      }
      p, h3 span{
        font: 400 20px/110% 'Roboto';
      }
    }
    .content1 {color: $white;}
    .content2{
      p {color: $black;}
      h3 {color: $black;}
      .btn-primary{
        background: $darkkhaki;
        color: $white;
        &:hover{
          color: $white;
          background: $black;
        }
        &:focus{
          box-shadow: 0 0 0 0.2rem rgba($blue,0.5);
        }
      }
    }
  }
  h3 {
    font: 700 28px 'Roboto';
    color: #fff;

    em {
      font: italic 400 30px 'Roboto';
    }
  }
}

.btn-primary{
  display: block;
  max-width: 360px;
  margin: 0 auto;
}

#inquiry {
  color: $white;
  background: $teal;
  h2 {
    color: $white;
    font: 500 italic 31px/43.4px 'Roboto';
    @media(max-width: 767px){
      font: 500 italic 24px/32px 'Roboto';
    }
  }
  small {
    font-style: italic;
  }
  .custom-select{
    &::placeholder{
      color: $lightgrey !important;
    }
  }
  form {max-width: 1000px; color: $darkestblue;}
  .form-control {color: $darkestblue;}
  .form-control::placeholder {color: $darkestblue;}
  .btn-primary{
    padding: .65em 1.25em;
    display: block;
    width: 230px;
    margin: 0 auto;
  }
}


.disclouser-box {
  margin: 50px auto 0;
  padding: 0 15px;
  max-width: 742px;
}

.tripwire-boxes {
  position: relative;
  z-index: 1;
  margin-top: -50px;
}