@import url("https://assets.snappykraken.com/global/css/utilities.css");
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700&family=Satisfy&family=Work+Sans:wght@400;700&display=swap");
body {
  background: #fff;
  font: 300 18px/1.5em 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; }

b, strong {
  font-weight: 700; }

a {
  color: #0EDAFF; }

.section {
  clear: both;
  float: left;
  width: 100%; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.btn {
  border-radius: 0;
  border: 0;
  font: 700 28px 'Roboto';
  padding: 0.65em 1.25em;
  white-space: normal;
  letter-spacing: 0.05em; }

@media (max-width: 575px) {
  .btn {
    font-size: 24px;
    padding: 0.75em 5px;
    width: 100%; } }

.btn.btn-primary {
  background: #E9278C;
  color: #fff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.45);
  border-radius: 48px; }

.btn.btn-primary:hover {
  background: #970D55;
  color: #ffffff; }

.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(233, 39, 140, 0.5); }

.btn.btn-cta {
  font: 700 24px 'Work Sans';
  padding: .75em 1em;
  min-width: 287px; }

@media (max-width: 575px) {
  .btn.btn-cta {
    min-width: 0;
    width: 100%; } }

.modal-content {
  border-radius: 0;
  border: 0; }

.modal-content .dismiss {
  color: #96999C;
  font-size: 24px;
  line-height: 1em;
  opacity: .9;
  z-index: 9; }

.modal-content .dismiss:hover {
  opacity: .75; }

.modal-backdrop.show {
  background-color: #ffffff;
  opacity: .61; }

label {
  font-size: 18px;
  font-weight: 600; }

.form-control {
  border-radius: 0;
  height: 45px;
  font: 400 18px 'Roboto';
  color: #707070;
  background: #ECEADF; }

@media (max-width: 320px) {
  .form-control {
    font-size: 16px; } }

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.25);
  border: #707070; }

.select-control {
  color: #000000; }

textarea.form-control {
  height: 100px; }

.wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all; }

.floating-label {
  position: relative; }

.floating-label > input, .floating-label > label {
  height: 3.125rem;
  padding: .75rem; }

.floating-label > textarea {
  padding: .75rem; }

.floating-label > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out; }

.floating-label input::-webkit-input-placeholder, .floating-label textarea::-webkit-input-placeholder {
  color: transparent; }

.floating-label input:-ms-input-placeholder, .floating-label textarea:-ms-input-placeholder {
  color: transparent; }

.floating-label input::-ms-input-placeholder, .floating-label textarea::-ms-input-placeholder {
  color: transparent; }

.floating-label input::-moz-placeholder, .floating-label textarea::-moz-placeholder {
  color: transparent; }

.floating-label input::placeholder, .floating-label textarea::placeholder {
  color: transparent; }

.floating-label input:not(:placeholder-shown), .floating-label textarea:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem; }

.floating-label input:not(:placeholder-shown) ~ label, .floating-label textarea:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 15px; }

.floating-label label {
  font: 400 18px "Roboto"; }

.floating-label ::placeholder {
  opacity: 0; }

footer {
  padding: 50px 0;
  font-size: 16px;
  line-height: 20.94px;
  color: #000000;
  background: #ffffff; }

footer a {
  color: #010101; }

footer .contact {
  font-size: 19px; }

@media (max-width: 575px) {
  footer .contact {
    font-size: 16px; } }

.footer-inner {
  margin: 0 auto;
  border-bottom: 3px solid #000000;
  max-width: 900px;
  padding: 0 165px 48px;
  font-family: 'work sans', sans-serif;
  font-size: 16px;
  line-height: 20.93px; }

@media (max-width: 1199px) {
  .footer-inner {
    max-width: 584px;
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 991px) {
  .footer-inner {
    max-width: 456px; } }

@media (max-width: 767px) {
  .footer-inner {
    max-width: 344px; } }

@media (max-width: 575px) {
  .footer-inner {
    padding: 25px 15px; } }

.disclosure {
  font: 400 16px/20.93px "Work Sans"; }

.registration .hero {
  overflow: hidden;
  position: relative;
  background: #000000; }

.registration .hero p {
  font: 400 22px 'Montserrat';
  margin: 0;
  color: #96999C; }

@media (max-width: 767px) {
  .registration .hero p {
    font: 400 18px/24px 'Montserrat'; } }

.registration .hero .btn {
  max-width: 287px; }

@media (max-width: 767px) {
  .registration .hero .mobile-image-1 img {
    max-height: 350px; } }

.registration .hero em {
  display: block;
  color: #F0DA0F;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 122%;
  margin-bottom: 20px;
  letter-spacing: 0.015em; }

.registration .hero h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 76px;
  line-height: 110%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .registration .hero h1 {
    font-size: 64px; } }

@media (max-width: 575px) {
  .registration .hero h1 {
    font-size: 56px; } }

.registration .hero h2 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 122%;
  color: #ffffff;
  letter-spacing: 0.015em;
  margin-bottom: 25px; }

.registration .hero ul {
  padding: 0 .5em 0 15px; }

@media (max-width: 575px) {
  .registration .hero ul {
    padding: 0; } }

.registration .hero ul li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 122%;
  letter-spacing: 0.015em;
  color: #ffffff;
  margin-bottom: 10px; }

@media (max-width: 1199px) {
  .registration .hero .bottom {
    display: block;
    margin: 0 auto;
    max-width: 660px; } }

.registration .quote {
  background: #ECEADF;
  color: #0D2646;
  padding: 60px 0; }

.registration .quote blockquote {
  font: 400 28px/36.68px 'Roboto', sans-serif; }

@media (max-width: 575px) {
  .registration .quote blockquote {
    font-size: 21px; } }

#opt-in .modal-dialog {
  max-width: 640px;
  border: 0; }

@media (max-width: 767px) {
  #opt-in .modal-dialog {
    margin: .5rem !important; } }

#opt-in .image {
  padding: 0 15px;
  background: #000000; }

#opt-in .popup-form {
  padding: 20px 40px 0;
  background: #000000; }

#opt-in .popup-form h3 {
  color: #ffffff;
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
  margin-bottom: 30px; }

@media (max-width: 575px) {
  #opt-in .popup-form h3 {
    font-size: 40px; } }

#opt-in .popup-form h4 {
  color: #ffffff;
  font: 400 41px/116% 'Roboto', sans-serif;
  margin-bottom: 40px; }

@media (max-width: 575px) {
  #opt-in .popup-form h4 {
    font-size: 20px; } }

#opt-in .popup-form .btn-cta {
  width: 287px;
  padding: .4em 1em;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 147%;
  text-align: center;
  letter-spacing: 0.05em; }

@media (max-width: 575px) {
  #opt-in .popup-form .btn-cta {
    min-width: 0;
    width: 100%; } }

@media (max-width: 575px) {
  #opt-in .popup-form {
    padding: 20px 20px 0; } }

#opt-in .spam {
  padding: 0 5px 20px;
  background: #000000; }

#opt-in .spam p {
  color: #0EDAFF;
  font: 400 14px/16px "Roboto", sans-serif; }

@media (max-width: 575px) {
  #opt-in .spam {
    padding: 0 15px 20px; } }

#exit .modal-dialog {
  max-width: 1106px; }

#exit .modal-content {
  color: #fff;
  background: #000000; }

#exit .modal-content h3 {
  color: #ffffff;
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 67px;
  line-height: 110%;
  margin-bottom: 40px; }

@media (max-width: 767px) {
  #exit .modal-content h3 {
    font-size: 48px; } }

@media (max-width: 575px) {
  #exit .modal-content h3 {
    font-size: 35px; } }

@media (max-width: 375px) {
  #exit .modal-content h3 {
    font-size: 22px; } }

#exit .modal-content h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 116%;
  color: #C3C1B0; }

@media (max-width: 767px) {
  #exit .modal-content h4 {
    font-size: 27px; } }

@media (max-width: 575px) {
  #exit .modal-content h4 {
    font-size: 18px; } }

#exit .modal-content .dismiss {
  display: inline-block;
  text-align: right;
  color: #c4c4c4;
  right: 20px;
  top: 20px; }

#exit .modal-content .spam {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #0EDAFF; }

#exit form {
  color: #000000; }

.tripwire .hero {
  background: #E5E2DC; }

.tripwire .hero h1 {
  font: 900 64px/66.56px 'Roboto', sans-serif;
  color: #000000; }

@media (max-width: 991px) {
  .tripwire .hero h1 {
    font: 900 58px/104% 'Roboto', sans-serif; } }

@media (max-width: 575px) {
  .tripwire .hero h1 {
    font: 900 52.24px/104% 'Roboto', sans-serif; } }

.tripwire .hero h2 {
  font: 400 35px/42.7px 'Roboto', sans-serif;
  color: #000000;
  margin: 25px auto 0; }

@media (max-width: 991px) {
  .tripwire .hero h2 {
    font: 400 32px/122% 'Roboto', sans-serif; } }

@media (max-width: 575px) {
  .tripwire .hero h2 {
    font: 400 28.8px/122% 'Roboto', sans-serif; } }

.tripwire .hero .box {
  position: relative;
  background: #010101; }

.tripwire .hero .box.right {
  background: #C3C1B0; }

.tripwire .hero .box p {
  font: 400 22px/30px 'Roboto';
  color: #fff;
  margin: 0; }

.tripwire .hero .box .content {
  min-height: 122px; }

.tripwire .hero .box .content h3 {
  font: 700 20px/110% 'Roboto'; }

.tripwire .hero .box .content p, .tripwire .hero .box .content h3 span {
  font: 400 20px/110% 'Roboto'; }

.tripwire .hero .box .content1 {
  color: #ffffff; }

.tripwire .hero .box .content2 p {
  color: #000000; }

.tripwire .hero .box .content2 h3 {
  color: #000000; }

.tripwire .hero .box .content2 .btn-primary {
  background: #787765;
  color: #ffffff; }

.tripwire .hero .box .content2 .btn-primary:hover {
  color: #ffffff;
  background: #000000; }

.tripwire .hero .box .content2 .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 80, 115, 0.5); }

@media (max-width: 991px) {
  .tripwire .hero .box {
    max-width: 536px; } }

.tripwire .hero h3 {
  font: 700 28px 'Roboto';
  color: #fff; }

.tripwire .hero h3 em {
  font: italic 400 30px 'Roboto'; }

.tripwire .btn-primary {
  display: block;
  max-width: 360px;
  margin: 0 auto; }

@media (max-width: 575px) {
  .tripwire .btn-primary {
    font-size: 22px; } }

.tripwire #inquiry {
  color: #ffffff;
  background: #1E8191; }

.tripwire #inquiry h2 {
  color: #ffffff;
  font: 500 italic 31px/43.4px 'Roboto'; }

@media (max-width: 767px) {
  .tripwire #inquiry h2 {
    font: 500 italic 24px/32px 'Roboto'; } }

.tripwire #inquiry small {
  font-style: italic; }

.tripwire #inquiry .custom-select::placeholder {
  color: #E5E2DC !important; }

.tripwire #inquiry form {
  max-width: 974px;
  color: #010101; }

.tripwire #inquiry .form-control {
  color: #010101; }

.tripwire #inquiry .form-control::placeholder {
  color: #010101; }

.tripwire #inquiry .btn-primary {
  padding: .65em 1.25em;
  display: block;
  width: 230px;
  margin: 0 auto; }

.tripwire .disclouser-box {
  margin: 50px auto 0;
  padding: 0 15px;
  max-width: 742px; }

.tripwire .tripwire-boxes {
  position: relative;
  z-index: 1;
  margin-top: -50px; }

.confirmation .hero {
  padding: 40px 0;
  color: #ffffff;
  background: #000000; }

@media (max-width: 767px) {
  .confirmation .hero .container {
    max-width: 472px; } }

.confirmation .hero h1 {
  color: #ffffff;
  font: 400 30px/34.8px 'roboto';
  margin-bottom: 50px;
  letter-spacing: -0.02em; }

@media (max-width: 575px) {
  .confirmation .hero h1 {
    font: 400 26px/30.16px 'roboto'; } }

.confirmation .hero h1 strong {
  display: block;
  font: 700 38px/41.8px 'roboto';
  letter-spacing: -0.02em;
  margin-bottom: 5px; }

@media (max-width: 767px) {
  .confirmation .hero h1 strong {
    margin-bottom: 10px; } }

@media (max-width: 575px) {
  .confirmation .hero h1 strong {
    font: 700 34px/37.4px 'roboto'; } }

.confirmation .hero .thankyou {
  font: 400 18px 'Roboto';
  color: #E4E2D0;
  letter-spacing: -0.02em; }

.confirmation .hero h3 {
  font: 400 24px 'Satisfy'; }

.confirmation .hero .office {
  color: #E4E2D0;
  font: 400 20px 'Roboto'; }

.confirmation .hero .office strong {
  font-weight: 700; }

@media (max-width: 767px) {
  .confirmation .hero .office {
    font-size: 18px; } }

.confirmation .hero .btn-primary {
  display: block;
  max-width: 450px;
  margin: 0 auto; }

.leadmagnet .btn-primary {
  font-weight: 400; }

@media (max-width: 575px) {
  .leadmagnet .btn-primary {
    font-size: 16px; } }

.leadmagnet hr {
  height: 2px;
  color: #000000;
  border-color: #000000;
  background: #000000;
  display: block;
  padding: 0;
  margin: 60px auto;
  max-width: 1033px; }

.leadmagnet .navbar {
  display: block;
  text-align: center;
  padding: 1rem 4rem !important;
  justify-content: center !important;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

@media (max-width: 991px) {
  .leadmagnet .navbar {
    padding: 1.6rem 1rem !important; } }

@media (min-width: 1312px) {
  .leadmagnet .navbar {
    justify-content: space-between !important;
    text-align: center; } }

.leadmagnet .navbar .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 116%;
  color: #E5E2DC; }

@media (max-width: 767px) {
  .leadmagnet .navbar .navbar-brand {
    font-size: 16px;
    white-space: normal;
    margin-right: 0; } }

@media (max-width: 420px) {
  .leadmagnet .navbar .navbar-brand {
    font-size: 14px; } }

.leadmagnet .navbar .btn-primary {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%; }

.leadmagnet .navbar .btn-primary:hover {
  background: #970D55;
  color: #ffffff; }

.leadmagnet .hero {
  position: relative;
  min-height: 796px;
  border-bottom: 15px solid #000000;
  background: #000000 url(../img/bg_lead-magnet.jpg) no-repeat center top/cover; }

@media (max-width: 375px) {
  .leadmagnet .hero {
    overflow: hidden; } }

.leadmagnet .hero .title {
  float: left;
  width: 670px;
  height: 462px;
  overflow: hidden;
  padding: 121px 116px 100px 124px;
  color: #ffffff;
  text-align: center;
  background: transparent url(../img/bg_lead-magnet-title.png) no-repeat center top/cover; }

.leadmagnet .hero .title h1 {
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 90%;
  text-transform: uppercase;
  margin-bottom: 20px; }

@media (max-width: 991px) {
  .leadmagnet .hero .title h1 {
    font-size: 46px; } }

@media (max-width: 575px) {
  .leadmagnet .hero .title h1 {
    font-size: 34px; } }

.leadmagnet .hero .title h2 {
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 110%;
  text-transform: uppercase; }

@media (max-width: 991px) {
  .leadmagnet .hero .title h2 {
    font-size: 25px; } }

@media (max-width: 575px) {
  .leadmagnet .hero .title h2 {
    font-size: 20px; } }

@media (max-width: 991px) {
  .leadmagnet .hero .title {
    float: none;
    display: block;
    margin: 0 auto;
    width: 547px;
    height: 377px;
    padding: 82px 71px 100px 77px; } }

@media (max-width: 575px) {
  .leadmagnet .hero .title {
    width: 420px;
    height: 290px;
    padding: 60px 54px 78px 57px; } }

@media (max-width: 375px) {
  .leadmagnet .hero .title {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: calc(50% - 210px); } }

.leadmagnet .lead-section {
  padding: 100px 0 60px;
  background: linear-gradient(180deg, #E4E2D0 0%, #F2F0EB 100%); }

.leadmagnet .lead-section .point {
  border-top: 2px solid #000000;
  padding: 80px 0 40px 0; }

.leadmagnet .lead-section .point:first-child {
  border-top: none;
  padding-top: 0; }

.leadmagnet .lead-section .point:last-child {
  padding-bottom: 0; }

.leadmagnet .lead-section .lead-content {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 131%;
  color: #000000; }

@media (max-width: 575px) {
  .leadmagnet .lead-section .lead-content {
    font-size: 16px; } }

.leadmagnet .lead-section ul li {
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 150%; }

@media (max-width: 575px) {
  .leadmagnet .lead-section ul li {
    font-size: 20px; } }

.leadmagnet .lead-section .icon {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px; }

.leadmagnet .lead-section h3 {
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 30px;
  background: transparent url(../img/bg_tag-yellow.png) no-repeat center center; }

.leadmagnet .lead-section h4 {
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 116%;
  text-align: center;
  margin-bottom: 15px;
  text-transform: capitalize; }

@media (max-width: 991px) {
  .leadmagnet .lead-section h4 {
    font-size: 48px; } }

@media (max-width: 575px) {
  .leadmagnet .lead-section h4 {
    font-size: 40px; } }

.leadmagnet .lead-section.must-knows h3 {
  background: transparent url(../img/bg_tag-blue.png) no-repeat center center; }

.leadmagnet .lead-header {
  min-height: 600px;
  border-top: 15px solid #000000;
  border-bottom: 15px solid #000000;
  position: relative; }

.leadmagnet .lead-header.lead-header-left {
  background: #000000 url(../img/bg_header-risks.jpg) no-repeat center bottom/cover; }

@media (max-width: 991px) {
  .leadmagnet .lead-header.lead-header-left {
    background-position: center bottom; } }

@media (max-width: 767px) {
  .leadmagnet .lead-header.lead-header-left {
    min-height: 480px;
    background: #F0DA0F; } }

@media (max-width: 575px) {
  .leadmagnet .lead-header.lead-header-left {
    overflow: hidden; } }

.leadmagnet .lead-header.lead-header-right {
  min-height: 670px;
  background: #000000 url(../img/bg_header-must-knows.jpg) no-repeat center bottom/cover; }

@media (max-width: 991px) {
  .leadmagnet .lead-header.lead-header-right {
    background-position: center bottom; } }

@media (max-width: 767px) {
  .leadmagnet .lead-header.lead-header-right {
    min-height: 480px;
    background: #0EDAFF; } }

@media (max-width: 575px) {
  .leadmagnet .lead-header.lead-header-right {
    padding-top: 100px; } }

.leadmagnet .lead-header .title {
  float: left;
  width: 670px;
  height: 462px;
  overflow: hidden;
  padding: 175px 116px 100px 124px;
  color: #ffffff;
  text-align: center;
  background: transparent url(../img/bg_title-header-risks.png) no-repeat center top/cover; }

.leadmagnet .lead-header .title h2 {
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 67px;
  line-height: 90%;
  text-transform: uppercase;
  margin-bottom: 0; }

@media (max-width: 1199px) {
  .leadmagnet .lead-header .title h2 {
    font-size: 54.3px; } }

@media (max-width: 991px) {
  .leadmagnet .lead-header .title h2 {
    font-size: 50px; } }

@media (max-width: 575px) {
  .leadmagnet .lead-header .title h2 {
    font-size: 35px; } }

@media (max-width: 991px) {
  .leadmagnet .lead-header .title {
    float: none;
    display: block;
    margin: 0 auto;
    width: 480px;
    height: 443px;
    padding: 200px 71px 100px 77px; } }

@media (max-width: 575px) {
  .leadmagnet .lead-header .title {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: calc(50% - 240px); } }

.leadmagnet .lead-header.lead-header-right .title {
  float: right;
  position: absolute;
  width: 806px;
  height: 444px;
  bottom: 50px;
  right: 0;
  padding: 175px 50px 100px 22px;
  background-image: url(../img/bg_title-header-must-knows.png); }

@media (max-width: 1399px) {
  .leadmagnet .lead-header.lead-header-right .title {
    width: 690px;
    height: 443px;
    padding: 140px 100px 150px 123px;
    bottom: 0;
    background-size: 100% 100%; } }

@media (max-width: 1199px) {
  .leadmagnet .lead-header.lead-header-right .title {
    width: 571px;
    height: 443px;
    padding: 140px 100px 150px 123px; } }

@media (max-width: 767px) {
  .leadmagnet .lead-header.lead-header-right .title {
    position: static;
    float: none;
    display: block;
    margin: 0 auto; } }

@media (max-width: 575px) {
  .leadmagnet .lead-header.lead-header-right .title {
    width: 320px;
    height: 320px;
    padding: 100px 0 0 0; } }

@media (max-width: 1199px) {
  .leadmagnet .lead-header.lead-header-right .title h2 {
    font-size: 67px; } }

@media (max-width: 991px) {
  .leadmagnet .lead-header.lead-header-right .title h2 {
    font-size: 67px; } }

@media (max-width: 575px) {
  .leadmagnet .lead-header.lead-header-right .title h2 {
    font-size: 51px; } }

.leadmagnet .subscribe {
  color: #787765;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 116%;
  font-weight: 400; }

.leadmagnet .subscribe p {
  margin-bottom: 20px; }

.leadmagnet .subscribe .btn-primary {
  padding: .58em 1.35em;
  border-radius: 200px;
  box-shadow: none;
  font-size: 21px;
  line-height: 131%;
  letter-spacing: 0; }

.leadmagnet #final {
  padding: 90px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 131%;
  color: #E5E2DC;
  background: #000000; }

.leadmagnet #final a {
  font-weight: bold; }

@media (max-width: 575px) {
  .leadmagnet #final {
    font-size: 16px; } }

.leadmagnet #final h2 {
  font-family: "Monda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 116%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
  color: #ffffff; }

@media (max-width: 991px) {
  .leadmagnet #final h2 {
    font-size: 48px; } }

@media (max-width: 575px) {
  .leadmagnet #final h2 {
    font-size: 40px; } }

.leadmagnet #inquiry {
  padding: 60px 0;
  background: #000000 url(../img/bg_inquiry.png) no-repeat right bottom; }

.leadmagnet #inquiry .btn {
  width: 158px;
  padding: 13.5px 0;
  font-weight: bold; }

.leadmagnet #inquiry .form-wrapper .form-bg h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 116%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff; }

.leadmagnet #inquiry .form-wrapper .form-bg h2 strong {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 116%;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 5px; }

@media (max-width: 991px) {
  .leadmagnet #inquiry .form-wrapper .form-bg h2 strong {
    font-size: 28px;
    line-height: 32px; } }

.leadmagnet footer {
  padding: 0; }

.leadmagnet footer .footer-contact {
  padding: 75px 0;
  border-top: 15px solid #000000;
  border-bottom: 15px solid #000000;
  background: #F0DA0F; }

.leadmagnet footer .footer-contact .footer-box {
  padding: 60px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  background: #ffffff; }

.leadmagnet footer .footer-contact .footer-inner {
  padding-bottom: 0;
  border: none; }

.leadmagnet footer .fine {
  color: #010101;
  padding: 85px 0; }

.preview .interstitial, .preview + #wrapper .conf + .interstitial {
  display: none !important; }

.preview + #opt-in .modal-content {
  border: 1px solid #ccc !important; }

.display-modal {
  position: relative !important;
  display: block !important;
  z-index: 1 !important;
  border-top: 1px solid #707070;
  padding: 3rem 0; }

.display-modal h2 {
  text-align: center;
  text-transform: uppercase; }

@supports (-ms-ime-align: auto) {
  .floating-label > label {
    display: none; }
  .floating-label input::-ms-input-placeholder {
    color: #777; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .floating-label > label {
    display: none; }
  .floating-label input:-ms-input-placeholder {
    color: #777; } }
