@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&family=Roboto+Condensed:wght@400;700&display=swap');

.ht-bo-exiting {
  font-family: 'Roboto Condensed';
  line-height: 1.8em;
  background-color: #133D5C;
  color: #fff;
  border: 20px solid #fff;
  padding: 2rem;
  text-align: center;
  min-height: 400px;
  display: flex;
  align-items: center;
  outline: 1px solid #aaa;
  margin: 0 auto;
  .ht-inner {
    width: 100%;
  }

  h2 {
    font: 700 32px 'Roboto Condensed' !important;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: none !important;
    text-decoration: none !important;
    background: none !important;
    border: none !important;
    width: 100% !important;
    height: auto !important;
  }
  h3 {
    font: 400 28px 'Roboto Condensed' !important;
    margin: 1rem 0 2rem !important;
    padding: 0 !important;
    text-transform: none !important;
    text-decoration: none !important;
    background: none !important;
    border: none !important;
    width: 100% !important;
    height: auto !important;
    color: #F3F3F3;
  }
  p {
    font: 400 22px/36px 'Roboto Condensed' !important;
    color: #A7A7AA;
    margin: 1rem 0 !important;
    padding: 0 !important;
    text-transform: none !important;
    text-decoration: none !important;
    background: none !important;
    border: none !important;
    width: 100% !important;
    height: auto !important;
  }

  p.ht-small {
    font:400 16px/30px 'Roboto Condensed' !important;
    color: #F2F1F0 !important;  
  }

  .ht-form {
    display: flex !important;
    
    @media (max-width: 1023px) {
      display: block !important;
    }
    .ht-input {
      background-color: #fff !important;
      color: #6E5344 !important;
      font:400 20px 'Open Sans' !important;
      margin: 1rem auto !important;
      box-sizing: border-box !important;
      width: 100% !important;
      padding: 0 1em !important;
      border: 0 !important;
      height: 60px !important;
      vertical-align: middle !important;
      &::placeholder {
        color: #6E5344 !important;
      }

      &.error, &:focus, &:active {
        border: 3px solid #fff !important; 
        box-shadow: none;
        outline: none;
      }
              
      @media (min-width: 1024px) {
        width: 24% !important;
      }
    }


    .ht-button {
      background-color: #FF7272 !important;
      color: #fff !important;
      font: 700 20px 'Roboto Condensed' !important;
      margin: 1rem auto !important;
      box-sizing: border-box !important;
      width: 100% !important;
      height: 60px !important;
      vertical-align: middle !important;
      padding: 0 1em !important;
      border: 0 !important;
      &:hover {
        background: #63C1EF !important;
      }     
      @media (min-width: 1024px) {
        width: 24% !important;
      }
    }
  }

  
}
.tooltip-inner {
  background-color: #444;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: #444;
}