.hero {
  color: $white;
  background: $black no-repeat 50% 60% / cover url('../img/bg_confirmation.png');
  h1 {
    font: 900 48px/78px 'Lato';
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    &:after {
      display: block;
      content: '';
      max-width: 265px;
      height: 1px;
      margin-top: 30px;
      background: #F5F5F5;
    }
  }
  h2 {
    font: 700 32px/48px 'Bodoni MT';
    span {
      color: #F5C578;
    }
  }
  h3 {
    font: 700 32px/48px 'Charm';
  }
  p {
    font: 700 32px/48px 'Bodoni MT';
  }
}

.contact {
  font: 400 16px/24px 'Lato';
}
.disclosures {
  font: 400 16px/24px 'Lato';
}