.hero {
  color: $white;
  background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  min-height: 500px;
  padding-bottom: 5rem;
  @media(max-width:991px){
    background-position: 60% 50%;
    padding: 3rem 0;
  }
  @media(max-width:767px){
    padding: 0;
    background: none;
  }
  .form {
    background: rgba(94, 94, 94, 0.8);
  }
  .container-fluid {max-width: 1300px;}
  h1 {
    margin-bottom: 30px;
    font: 700 36px/43px 'Bodoni MT';
    span {
      color: $gold;
    }
    &:after {
      display: block;
      content: '';
      max-width: 265px;
      height: 1px;
      background: $white;
      margin-top: 30px;
    }
  }
  h2 {
    //font: 900 64px/78px 'Lato';
    font: 900 56px/78px 'Lato';
  }
  h3 {
    font: 700 32px/48px 'Bodoni MT';
    span {
      color: $gold;
    }
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin: 30px 0 0;
      padding: 10px 0 0 60px;
      min-height: 54px;
      list-style: none;
      font: 400 24px/28.8px 'Lato';
      background: transparent url('../img/check.png') no-repeat left top;
    }
  }
}



#bio {
  background: #FAFAFA;
  .logoBox img {max-height: none;}
  .contact {
    p {
      color: $black;
      font: 700 21px/30px 'Lato';
      em {
        font: 400 italic 19px/30px 'Lato';
      }
    }
  }
  .content {
    color: $black;
    font: 400 16px/19px 'Lato';
  }
  .btn-primary{
    text-transform: none;
    font-size: 21px;
    line-height: 24px;
  }
}
.contact {
  font: 400 16px/24px 'Lato';
}
.disclosures {
  font: 400 16px/24px 'Lato';
}