.hero {
  color: $white;
  @media(min-width:992px){
    background: $darkgrey url('../img/bg-hero.png') no-repeat left top / cover;
  }
  .container-fluid {
    max-width: 1300px;
    @media(max-width:991px){
      padding-left: 0;
      padding-right: 0;
    }
  }
  .left {
    .mobile {
      @media(max-width:991px){
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        background: $darkgrey url('../img/bg-hero.png') no-repeat left top / cover;
      }
      @media(max-width:575px){
        background-position: -85px top;
      }
    }
    @media(max-width:991px){
      padding: 80px 60px 60px;
    }
    @media(max-width:575px){
      padding: 25px 40px;
    }
    h1 {
      margin-bottom: 30px;
      letter-spacing: 0.02em;
      font: 700 28px/43px 'Bodoni Moda', 'bodoni mt';
      @media(max-width:575px){
        font: 700 22px/26px 'Bodoni Moda', 'bodoni mt';
      }
      span {
        color: $gold;
      }
      &:after {
        display: block;
        content: '';
        max-width: 265px;
        height: 1px;
        background: $white;
        margin-top: 30px;
        @media(max-width:575px){
          max-width: 150px;
        }
      }
    }
    h2 {
      //font: 900 64px/78px 'Lato';
      letter-spacing: 0.01em;
      font: 900 56px/78px 'Lato';
      @media(max-width:991px){
        font-size: 48px;
      }
      @media(max-width:575px){
        //font: 900 32px/44px 'Lato';
        font: 900 30px/44px 'Lato';
      }
    }
    h3 {
      letter-spacing: 0.02em;
      font: 700 28px/48px 'Bodoni Moda', 'bodoni mt';
      @media(max-width:575px){
        font: 700 24px/28.7px 'Bodoni Moda', 'bodoni mt';
      }
      span {
        color: $gold;
      }
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      @media(max-width:991px){
        margin: 0 auto;
        max-width: 560px;
      }
      li {
        display: block;
        margin: 30px 0 0;
        padding: 10px 0 0 60px;
        min-height: 54px;
        list-style: none;
        letter-spacing: 0.02em;
        font: 400 24px/28.8px 'Lato';
        background: transparent url('../img/check.png') no-repeat left top;
        @media(max-width:575px){
          font: 400 18px/21.6px 'Lato';
          padding-left: 50px;
          padding-top: 5px;
          background-size: 33px 40.5px;
        }
      }
    }
  }
  .right {
    .form {
      background: rgba(94, 94, 94, 0.8);
      @media(max-width:991px){
        background: $formgrey;
      }
      h2 {
        font: 700 26px/48px 'Bodoni Moda', 'bodoni mt';
        span {color: $gold;}
        @media(max-width:575px){
          font: 700 24px/36px 'Bodoni Moda', 'bodoni mt';
        }
      }
      .form-group {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        max-width: 328px;
      }
      .form-control {
        font: 400 16px/19.2px 'Lato';
        &.custom-select {height: 45px !important;}
      }
    }
  }
}



#bio {
  background: #FAFAFA;
  .logoBox img {max-height: none;}
  .contact {
    p {
      color: $black;
      font: 700 21px/30px 'Lato';
      em {
        font: 400 italic 19px/30px 'Lato';
      }
    }
  }
  .content {
    color: $black;
    font: 400 16px/19px 'Lato';
  }
  .btn-primary{
    text-transform: none;
    font-size: 21px;
    line-height: 24px;
  }
}
.contact {
  font: 400 16px/24px 'Lato';
}
.disclosures {
  font: 400 16px/24px 'Lato';
}