.hero {
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.35) 40%, rgba(255,255,255,0) 100%), url('../img/bg-hero.png') ;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 0%, 50% 50%;
  background-size: cover, cover;
  min-height: 500px;
  padding-bottom: 5rem;
  @media(max-width:991px){
    background-position: 60% 50%;
    padding: 3rem 0;
  }
  @media(max-width:767px){
    padding: 0;
    background: none;
  }
}
#bio {
  background: #FAFAFA;
  .logoBox img {max-height: none;}
  .contact {
    p {
      color: $black;
      font: 700 21px/30px 'Lato';
      em {
        font: 400 italic 19px/30px 'Lato';
      }
    }
  }
  .content {
    color: $black;
    font: 400 16px/19px 'Lato';
  }
  .btn-primary{
    text-transform: none;
    font-size: 21px;
    line-height: 24px;
  }
}
.contact {
  font: 400 16px/24px 'Lato';
}
.disclosures {
  font: 400 16px/24px 'Lato';
}