@import url('https://assets.snappykraken.com/global/css/utilities.css');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Charm:wght@700&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

$pink: #E54582;
$grey: #707070;
$formgrey: #5E5E5E;
$darkgrey: #3E3E3E;
$red: #CB524A;
$darkred: #983013;
$white: #ffffff;
$black: #000000;
$gold: #F5C578;


body {
  background: $white;  
  font: 20px/1.5em 'Open Sans';
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.btn {
  border-radius: 0;
  border: 0;
  font: 700 18px/21.6px 'Lato';
  padding: .96em 2.75em;
  white-space: normal;
  border-radius: 80px;
  text-transform: uppercase;      
  // @media (max-width: 575px) {
  //   font-size: 16px;
  //   padding: 1em 5px;
  //   width: 100%;
  // }
  &.btn-primary {
    background: $red;
    color: #fff;
    &:hover {
      background: $darkred;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($red,.5);
    }
  }
}
.modal-content {
  border-radius: 0;
  border: 0;
  .dismiss {
    color: $white;
    font-size: 24px;
    line-height: 1em;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }
}
label {
  font-size: 18px;
}
.form-control {
  border-radius: 0;
  height: 45px;
  font: 18px 'Abel';
  background-color: $darkgrey;
  border: 0;
  letter-spacing: 2.5px;
  color: $white;
  &::placeholder{
    color: $white;
  }
  &:focus {
    border: 0;
    box-shadow: none;
    color: $white;
    background-color: $darkgrey;
  }
}
textarea.form-control {
  height: 100px;
}
footer {
  font: 400 20px 'Abel';
  color: $grey;
  background: #fff;
  .disclosures{
    font-size: 17px;
  }
}

.registration {
  @import 'registration';
}
.confirmation {
  @import 'confirmation';
}
.video_landing {
  @import 'video';
}
