@import url("https://assets.snappykraken.com/global/css/utilities.css");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Charm:wght@700&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
body {
  background: #fff;
  font: 20px/1.5em 'Open Sans';
  -webkit-font-smoothing: antialiased; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0; }

.btn {
  border-radius: 0;
  border: 0;
  font: 700 18px/21.6px 'Lato';
  padding: .96em 2.75em;
  white-space: normal;
  border-radius: 80px;
  text-transform: uppercase; }

@media (max-width: 575px) {
  .btn {
    font-size: 16px;
    padding: 1em 5px;
    width: 100%; } }

.btn.btn-primary {
  background: #CB524A;
  color: #fff; }

.btn.btn-primary:hover {
  background: #983013; }

.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 82, 74, 0.5); }

.modal-content {
  border-radius: 0;
  border: 0; }

.modal-content .dismiss {
  color: #fff;
  font-size: 24px;
  line-height: 1em;
  opacity: .9; }

.modal-content .dismiss:hover {
  opacity: 1; }

label {
  font-size: 18px; }

.form-control {
  border-radius: 0;
  height: 45px;
  font: 18px 'Abel';
  background-color: #E5EAEF;
  border: 0;
  letter-spacing: 2.5px;
  color: #000; }

.form-control::placeholder {
  color: #000; }

.form-control:focus {
  border: 0;
  box-shadow: none;
  color: #000; }

textarea.form-control {
  height: 100px; }

footer {
  font: 400 20px 'Abel';
  color: #707070;
  background: #fff; }

footer .disclosures {
  font-size: 17px; }

.registration .hero {
  background-image: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0.35) 40%, rgba(255, 255, 255, 0) 100%), url("../img/bg-hero.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 0%, 50% 50%;
  background-size: cover, cover;
  min-height: 500px;
  padding-bottom: 5rem; }

@media (max-width: 767px) {
  .registration .hero .mobile {
    height: 60vw;
    background: no-repeat 50% 80%/cover url(../img/bg-hero.png); } }

@media (max-width: 991px) {
  .registration .hero {
    background-position: 60% 50%;
    padding: 3rem 0; } }

@media (max-width: 767px) {
  .registration .hero {
    padding: 0;
    background: none; } }

.registration .hero .titles {
  color: #2F202F; }

.registration .hero .titles h1 {
  font: 700 2.9rem 'Playfair Display'; }

@media (max-width: 767px) {
  .registration .hero .titles h1 {
    line-height: 4rem; } }

@media (max-width: 575px) {
  .registration .hero .titles h1 {
    font-size: 2.5rem;
    line-height: 3.4rem; } }

.registration .hero .titles p {
  font: 400 30px/42px 'Open Sans'; }

@media (max-width: 767px) {
  .registration .hero .titles p {
    font-size: 26px;
    line-height: 36.4px; } }

@media (max-width: 575px) {
  .registration .hero .titles p {
    font-size: 25px;
    line-height: 35px; } }

.registration .hero .form {
  background: #2F202F; }

@media (max-width: 767px) {
  .registration .hero .form {
    margin: 0 auto; } }

.registration .hero .form h2 {
  font-family: 'Abel';
  color: #fff; }

.registration #bio {
  background: #fff no-repeat 50% 50%/cover url("../img/bg-main.jpg"); }

.registration #bio .container {
  max-width: 1200px; }

.registration #bio .contact p {
  color: #CB524A;
  font: 400 30px 'Playfair Display'; }

.registration #bio .content {
  color: #000000; }

.registration #bio .btn-primary {
  color: #fff; }

@media (max-width: 1199px) {
  .registration #bio .btn-primary {
    font-size: 22px; } }

.confirmation .hero {
  color: #ffffff;
  background: #26262A no-repeat 50% 60%/cover url("../img/bg_confirmation.png"); }

@media (max-width: 575px) {
  .confirmation .hero {
    background-image: none; } }

.confirmation .hero h1 {
  font: 900 48px/78px 'Lato';
  letter-spacing: 0.01em;
  margin-bottom: 30px; }

.confirmation .hero h1:after {
  display: block;
  content: '';
  max-width: 265px;
  height: 1px;
  margin-top: 30px;
  background: #F5F5F5; }

@media (max-width: 991px) {
  .confirmation .hero h1:after {
    margin: 30px auto 0; } }

@media (max-width: 575px) {
  .confirmation .hero h1:after {
    max-width: 150px; } }

@media (max-width: 991px) {
  .confirmation .hero h1 {
    font: 700 36px/52px 'Lato'; } }

@media (max-width: 575px) {
  .confirmation .hero h1 {
    font: 700 32px/52px 'Lato'; } }

.confirmation .hero h2 {
  font: 700 32px/48px 'Bodoni MT'; }

.confirmation .hero h2 span {
  color: #F5C578; }

.confirmation .hero h3 {
  font: 700 32px/48px 'Charm'; }

@media (max-width: 575px) {
  .confirmation .hero h3 {
    font: 700 24px/28.8px 'Charm'; } }

.confirmation .hero p {
  font: 700 32px/48px 'Bodoni MT'; }

@media (max-width: 575px) {
  .confirmation .hero p {
    font: 700 22px/28.8px 'Bodoni MT'; } }

.confirmation .contact {
  font: 400 16px/24px 'Lato'; }

.confirmation .disclosures {
  font: 400 16px/24px 'Lato'; }

.video_landing .hero {
  background: #6E4232 url("../img/bg_video.png") no-repeat center top/cover; }

.video_landing .hero .titles h1 {
  color: #ffffff;
  font: 900 64px/78px 'Lato';
  letter-spacing: 0.01em; }

@media (max-width: 991px) {
  .video_landing .hero .titles h1 {
    font-size: 48px; } }

@media (max-width: 767px) {
  .video_landing .hero .titles h1 {
    font-size: 32px;
    line-height: 38.4px; } }

.video_landing .contact {
  font: 400 16px/24px 'Lato'; }

.video_landing .disclosures {
  font: 400 16px/24px 'Lato'; }
