@import url("https://assets.snappykraken.com/global/css/utilities.css");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Charm:wght@700&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
body {
  background: #ffffff;
  font: 20px/1.5em 'Open Sans';
  -webkit-font-smoothing: antialiased; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0; }

.btn {
  border-radius: 0;
  border: 0;
  font: 700 18px/21.6px 'Lato';
  padding: .96em 2.75em;
  white-space: normal;
  border-radius: 80px;
  text-transform: uppercase; }

.btn.btn-primary {
  background: #CB524A;
  color: #fff; }

.btn.btn-primary:hover {
  background: #983013; }

.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 82, 74, 0.5); }

.modal-content {
  border-radius: 0;
  border: 0; }

.modal-content .dismiss {
  color: #ffffff;
  font-size: 24px;
  line-height: 1em;
  opacity: .9; }

.modal-content .dismiss:hover {
  opacity: 1; }

label {
  font-size: 18px; }

.form-control {
  border-radius: 0;
  height: 45px;
  font: 18px 'Abel';
  background-color: #3E3E3E;
  border: 0;
  letter-spacing: 2.5px;
  color: #ffffff; }

.form-control::placeholder {
  color: #ffffff; }

.form-control:focus {
  border: 0;
  box-shadow: none;
  color: #ffffff;
  background-color: #3E3E3E; }

textarea.form-control {
  height: 100px; }

footer {
  font: 400 20px 'Abel';
  color: #707070;
  background: #fff; }

footer .disclosures {
  font-size: 17px; }

.registration .hero {
  color: #ffffff; }

@media (min-width: 992px) {
  .registration .hero {
    background: #3E3E3E url("../img/bg-hero.png") no-repeat left top/cover; } }

.registration .hero .container-fluid {
  max-width: 1300px; }

@media (max-width: 991px) {
  .registration .hero .container-fluid {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 991px) {
  .registration .hero .left .mobile {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    background: #3E3E3E url("../img/bg-hero.png") no-repeat left top/cover; } }

@media (max-width: 575px) {
  .registration .hero .left .mobile {
    background-position: -85px top; } }

@media (max-width: 991px) {
  .registration .hero .left {
    padding: 80px 60px 60px; } }

@media (max-width: 525px) {
  .registration .hero .left {
    padding: 25px 40px; } }

.registration .hero .left h1 {
  margin-bottom: 30px;
  letter-spacing: 0.02em;
  font: 700 32px/43px 'Bodoni MT'; }

@media (max-width: 525px) {
  .registration .hero .left h1 {
    font: 700 22px/26px 'Bodoni MT'; } }

.registration .hero .left h1 span {
  color: #F5C578; }

.registration .hero .left h1:after {
  display: block;
  content: '';
  max-width: 265px;
  height: 1px;
  background: #ffffff;
  margin-top: 30px; }

@media (max-width: 525px) {
  .registration .hero .left h1:after {
    max-width: 150px; } }

.registration .hero .left h2 {
  letter-spacing: 0.01em;
  font: 900 56px/78px 'Lato'; }

@media (max-width: 991px) {
  .registration .hero .left h2 {
    font-size: 48px; } }

@media (max-width: 525px) {
  .registration .hero .left h2 {
    font: 900 30px/44px 'Lato'; } }

.registration .hero .left h3 {
  letter-spacing: 0.02em;
  font: 700 32px/48px 'Bodoni MT'; }

@media (max-width: 525px) {
  .registration .hero .left h3 {
    font: 700 24px/28.7px 'Bodoni MT'; } }

.registration .hero .left h3 span {
  color: #F5C578; }

.registration .hero .left ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

@media (max-width: 991px) {
  .registration .hero .left ul {
    margin: 0 auto;
    max-width: 560px; } }

.registration .hero .left ul li {
  display: block;
  margin: 30px 0 0;
  padding: 10px 0 0 60px;
  min-height: 54px;
  list-style: none;
  letter-spacing: 0.02em;
  font: 400 24px/28.8px 'Lato';
  background: transparent url("../img/check.png") no-repeat left top; }

@media (max-width: 525px) {
  .registration .hero .left ul li {
    font: 400 18px/21.6px 'Lato';
    padding-left: 50px;
    padding-top: 5px;
    background-size: 33px 40.5px; } }

.registration .hero .right .form {
  background: rgba(94, 94, 94, 0.8); }

@media (max-width: 991px) {
  .registration .hero .right .form {
    background: #5E5E5E; } }

.registration .hero .right .form h2 {
  font: 700 32px/48px 'Bodoni MT'; }

.registration .hero .right .form h2 span {
  color: #F5C578; }

@media (max-width: 525px) {
  .registration .hero .right .form h2 {
    font: 700 26px/36px 'Bodoni MT'; } }

.registration .hero .right .form .form-group {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 328px; }

.registration .hero .right .form .form-control {
  font: 400 16px/19.2px 'Lato'; }

.registration .hero .right .form .form-control.custom-select {
  height: 45px !important; }

.registration #bio {
  background: #FAFAFA; }

.registration #bio .logoBox img {
  max-height: none; }

.registration #bio .contact p {
  color: #000000;
  font: 700 21px/30px 'Lato'; }

.registration #bio .contact p em {
  font: 400 italic 19px/30px 'Lato'; }

.registration #bio .content {
  color: #000000;
  font: 400 16px/19px 'Lato'; }

.registration #bio .btn-primary {
  text-transform: none;
  font-size: 21px;
  line-height: 24px; }

.registration .contact {
  font: 400 16px/24px 'Lato'; }

.registration .disclosures {
  font: 400 16px/24px 'Lato'; }

.confirmation .hero {
  color: #ffffff;
  background: #26262A no-repeat 50% 60%/cover url("../img/bg_confirmation.png"); }

@media (max-width: 575px) {
  .confirmation .hero {
    background-image: none; } }

.confirmation .hero h1 {
  font: 900 48px/78px 'Lato';
  letter-spacing: 0.01em;
  margin-bottom: 30px; }

.confirmation .hero h1:after {
  display: block;
  content: '';
  max-width: 265px;
  height: 1px;
  margin-top: 30px;
  background: #F5F5F5; }

@media (max-width: 991px) {
  .confirmation .hero h1:after {
    margin: 30px auto 0; } }

@media (max-width: 575px) {
  .confirmation .hero h1:after {
    max-width: 150px; } }

@media (max-width: 991px) {
  .confirmation .hero h1 {
    font: 700 36px/52px 'Lato'; } }

@media (max-width: 575px) {
  .confirmation .hero h1 {
    font: 700 32px/52px 'Lato'; } }

.confirmation .hero h2 {
  font: 700 32px/48px 'Bodoni MT'; }

.confirmation .hero h2 span {
  color: #F5C578; }

.confirmation .hero h3 {
  font: 700 32px/48px 'Charm'; }

@media (max-width: 575px) {
  .confirmation .hero h3 {
    font: 700 24px/28.8px 'Charm'; } }

.confirmation .hero p {
  font: 700 32px/48px 'Bodoni MT'; }

@media (max-width: 575px) {
  .confirmation .hero p {
    font: 700 22px/28.8px 'Bodoni MT'; } }

.confirmation .contact {
  font: 400 16px/24px 'Lato'; }

.confirmation .disclosures {
  font: 400 16px/24px 'Lato'; }

.video_landing .hero {
  background: #6E4232 url("../img/bg_video.png") no-repeat center top/cover; }

.video_landing .hero .titles h1 {
  color: #ffffff;
  font: 900 64px/78px 'Lato';
  letter-spacing: 0.01em; }

@media (max-width: 991px) {
  .video_landing .hero .titles h1 {
    font-size: 48px; } }

@media (max-width: 767px) {
  .video_landing .hero .titles h1 {
    font-size: 32px;
    line-height: 38.4px; } }

.video_landing .contact {
  font: 400 16px/24px 'Lato'; }

.video_landing .disclosures {
  font: 400 16px/24px 'Lato'; }
