.hero {
  padding: 40px 0;
  color: $white;
  background: $darkblue;
  h1 {
    color: $white;
    font: 700 38px/63.19px 'roboto';
    margin-bottom: 50px;
    span {
      display: block;
      font: 400 30px/49.89px 'roboto';
    }
    @media(max-width: 991px){
      font: 700 24px/36px 'roboto';
      span {
        font: 400 18px/30px 'roboto';
      }
    }
    @media(max-width: 575px){
      font: 700 18px/24px 'roboto';
      span {
        font: 400 16px/20px 'roboto';
      }
    }
  }
  .thankyou{
    font: 500 18px 'Roboto';
    color: $pinkpill;
    @media(max-width: 575px){
      font-size: 16px;
    }
  }
  h3 {
    font: 400 24px 'Satisfy';
    @media(max-width: 991px){
      font: 400 18px 'Satisfy';
    }
  }
  .office{
    color: $pinkpill;
    font: 400 20px 'Roboto';
    span {font-weight: 700;}
    @media(max-width: 767px){
      font-size: 18px;
    }
  }
  .btn-primary{
    display: block;
    max-width: 482px;
    margin: 0 auto;
    padding: .93em 1.25em;
  }
}