.btn-primary {
  font-weight: 400;
  @media(max-width:575px){
    font-size: 16px;
  }
}
.navbar{
  //display: flex;
  display: block;
  text-align: center;
  padding: 1.6rem 4rem !important;
  justify-content: center !important;
  background: rgba(249, 201, 201, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  @media(max-width: 991px){
    padding: 1.6rem 1rem !important;
  }
  @media(min-width: 1312px){
    justify-content: space-between !important;
    //text-align: left;
    text-align: center;
  }
  .navbar-brand{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 95%;
    color: $darkblue;
    @media(max-width:767px){
      font-size: 16px;
      white-space: normal;
      margin-right: 0;
    }
    @media(max-width:420px){
      font-size: 14px;
    }  
  }
  .btn-primary{
    color: $white;
    &:hover{
      background: $darkpink;
      color: $white;
    }
  }
  .btn{
    padding: .9em 1.25em;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
    @media(max-width:767px){
      padding: .9em 0.6em;
      width: 100%;
    }
    @media(max-width: 575px){
      font-size: 14px;
    }
  }
  span{
    color: $lightestblue;
  }
}

.hero {
  padding: 300px 0 65px;
  @media(max-width: 991px){
    padding: 250px 0 65px;
  }
  @media(max-width: 767px){
    padding: 150px 0 65px;
  }
  .hero-box {
    padding: 75px 60px;
    border: 10px solid rgba(249, 201, 201, 0.95);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    background: $white;
    @media(max-width: 991px){
     padding: 75px 25px 35px;
    }
  }
  .hero-box-top {
    margin-top: -260px;
    @media(max-width: 991px){
      margin-top: -200px;
    }
    @media(max-width: 767px){
      margin-top: -150px;
    }
    @media(max-width: 575px){
      margin-top: -125px;
    }
    img {
      display: block;
      margin: 0 auto;
      text-align: center;
      max-height: 221px;
    }
  }
  .hero-box-main {
    color: $darkblue;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130.8%;
    letter-spacing: -0.02em;
    padding-top: 40px;
    h1 {
        font-family: Bevan;
        font-style: normal;
        font-weight: normal;
        font-size: 87px;
        line-height: 82px;
        text-transform: uppercase;
        margin-bottom: 40px;
        @media(max-width: 991px){
          font-size: 67px;
          line-height: 63px;
        }
        @media(max-width: 767px){
          font-size: 46px;
          line-height: 43px;
        }
        @media(max-width: 575px){
          font-size: 32px;
          line-height: 30px;
        }
      small {
        color: $darkblue;
        font-family: Bevan;
        font-style: normal;
        font-weight: normal;
        font-size: 59px;
        line-height: 95px;
        margin-bottom: 50px;
        @media(max-width: 991px){
          font-size: 46px;
          line-height: 74px;
          margin-bottom: 25px;
        }
        @media(max-width: 767px){
          font-size: 32px;
          line-height: 51px;
        }
        @media(max-width: 575px){
          font-size: 26px;
          line-height: 36px;
        }
      }
    }
    h2 {
      color: $darkblue;
      font-family: Allan;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 91.5%;
      margin-bottom: 40px;
      @media(max-width: 991px){
        font-size: 22px;
      }
      span {
        font-family: Allan;
        font-style: normal;
        font-weight: normal;
      }
    }
    .fancy {
      color: $darkblue;
      font-family: Allan;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 130.8%;
      letter-spacing: -0.02em;
    }
  }
  .headline{
    padding: 10% 0 0;
    h2{
      font: 400 40px/60px 'Montserrat';
      color: $lightblue;
      @media(max-width:575px){
        font: 400 40px/50px 'Montserrat';
      }
      span{
        font: 700 48px/65px 'Montserrat';
        color: $darkergrey;
        @media(max-width:575px){
          font: 700 20px/26px 'Montserrat';
        }
      }
    }
  }
}


.subscribe {
  color: $white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background: $darkblue;
  @media(max-width: 575px){
    font-size: 14px;
  }
  p {margin-bottom: 20px;}
  .btn-primary {
    padding: .6em 1.25em;
    @media(max-width: 575px){
      padding: .6em .2em;
      font-size: 15px;
    }
  }
  &.subscribe-yellow {color: $darkblue; background: $paleyellow;}
  &.subscribe-lightblue {color: $darkblue; background: #B0DBFF;}
}

.lead-section {
  padding: 70px 0;
  background: #FFF9EA;
  @media(max-width: 991px){
    padding: 35px 0;
  }
  a {font-weight: bold; color: $pink;}
  h2 {
    font-family: Bevan;
    font-style: normal;
    font-weight: normal;
    font-size: 59px;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #0D2646;
    margin-bottom: 40px;
    @media(max-width: 991px){
      font-size: 42px;
      line-height: 59px;
      margin-bottom: 20px;
    }
    @media(max-width: 767px){
      font-size: 36px;
      line-height: 53px;
    }
  }
  h3 {
    font-family: Allan;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 91.5%;
    color: $darkblue;
    margin-bottom: 30px;
    @media(max-width: 991px){
      font-size: 26px;
    }
  }
  p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130.8%;
    letter-spacing: -0.02em;
    color: $darkblue;
    b, strong {color: $black;}
    &.fancy {
      font-family: Allan;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 130.8%;
      letter-spacing: -0.02em;
      color: $black;
    }
  }
  ul.bold-list {
    padding-left: 15px;
    li {font-weight: bold;}
  }
  &.why-choose {padding-bottom: 35px; background: #D8EDFF;}
}
.document-section {
  padding-bottom: 65px;
  background: #D8EDFF;
  .document {
    background: #FFF7E1;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
    padding: 60px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    @media(max-width: 991px){
      padding: 25px;
    }
    @media(max-width: 767px){
      padding: 15px;
    }
    .dashed {
      @media(min-width: 768px){
        border-right: 3px dashed #ADD6F9;
      }
      @media(max-width: 767px){
        border-bottom: 3px dashed #ADD6F9;
      }
    }
    .document-row {
      color: $darkblue;
      margin-top: 40px;
      &:first-child {margin-top: 0;}
      .headline {
        padding: 20px 15px;
        background: #F9CCCA;
        h4 {
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 130.8%;
          text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          color: $darkblue;
          margin-top: 0;
          padding: 0;
          &:last-child {margin: 0;}
          @media(max-width: 991px){
            font-size: 24px;
          }
          @media(max-width: 767px){
            font-size: 20px;
          }
        }
        p {
          font-family: Work Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 130.8%;
          text-align: center;
          letter-spacing: -0.02em;
        }
      }
      h5 {
        font-family: Allan;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 130.8%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #45AFED;
        margin: 0;
        padding: 0;
        @media(max-width: 767px){
          font-size: 24px;
        }
      }
      ul {
        padding: 0 0 0 15px;
        li {
          padding: 0;
          font-family: Work Sans;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          line-height: 130.8%;
          letter-spacing: -0.02em;
          color: $darkblue;
        }
      }
      p.image {
        margin: 40px 0;
        &:first-child {margin-top: 0;}
      }
    }
  }
}



#inquiry{
  padding: 60px 0;
  background: $darkblue;
  .btn {width: 158px; padding: 13.5px 0; font-weight: bold;}
  .form-wrapper {
    .form-bg {
      h2{
        font-family: "Allan", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 37px;
        text-align: center;
        letter-spacing: -0.02em;
        color: $white;
        @media(max-width:991px){
          font-size: 24px;
          line-height: 28px;
        }
        span {
          display: block;
          font-family: Work Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 39px;
          text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          margin-top: 5px;
          @media(max-width:991px){
            font-size: 28px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
footer {
  padding: 0;
  .footer-contact {
    padding: 75px 0;
    background: fixed $darkblue url(../img/bg_pills.png) repeat center top;
    .footer-box {
      padding: 60px 0;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
      background: $white;
    }
      .footer-inner {
        padding-bottom: 0; border: none;
      }
  }
  .fine {
    padding: 85px 0;
  }
}

