
.navbar{
  padding: 1.6rem 4rem !important;
  justify-content: center !important;
  text-align: center;
  @media(max-width: 991px){
    padding: 1.6rem 1rem !important;
  }
  @media(min-width: 1312px){
    justify-content: space-between !important;
    text-align: left;
  }
  .navbar-brand{
    font-size: 18px !important;
    @media(max-width:767px){
      font-size: 16px !important;
      white-space: normal;
      margin-right: 0;
    }
    @media(max-width:420px){
      font-size: 14px !important;
    }
    &:hover{
      color: $lightestblue !important;
    }  
  }
  .btn-primary{
    color: $white;
    &:hover{
      background: $darkpink;
      color: $white;
    }
  }
  .btn{
    padding: .9em 1.25em;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
    @media(max-width:767px){
      padding: .9em 0.6em;
      width: 100%;
    }
  }
  span{
    color: $lightestblue;
  }
}

.hero {
  .headline{
    padding: 10% 0 0;
    h2{
      font: 400 40px/60px 'Montserrat';
      color: $lightblue;
      @media(max-width:575px){
        font: 400 40px/50px 'Montserrat';
      }
      span{
        font: 700 48px/65px 'Montserrat';
        color: $darkergrey;
        @media(max-width:575px){
          font: 700 20px/26px 'Montserrat';
        }
      }
    }
  }
}


.subscribe {
  color: $white;
  font-size: 18px;
  font-weight: 500;
  background: $darkblue;
  p {margin-bottom: 35px;}
}





#final-grouping {
  color: $black;
  padding: 115px 0;
  @media(max-width:575px) {
      background-size: auto;
  }
  #final-text {
    h2 {
      font: 700 48px 'Montserrat';
      color: $black;
      margin-bottom: 80px;
    }
    p {
      margin-bottom: 30px;
      &:last-child {margin-bottom: 0;}
    }
  }
  #inquiry{
    margin-top: 90px;
    .form-wrapper {
      margin: 0 auto;
      max-width: 924px;
      .form-bg {
        background: $lightpink;
        h2{
          color: $black;
          font: 700 24px/29px 'Montserrat';
          margin-bottom: 40px;
          &:after {
            display: block;
            content: '';
            width: 320px;
            height: 1px;
            margin: 40px auto 0;
            background: $black;
            @media(max-width:575px) {
                width: 220px;
            }
          }
        }
      }
    }
  }
}
.footer-inner {padding-bottom: 0; border: none;}
