.btn-primary {
  span {font-weight: 400;}
  @media(max-width:575px){
    font-size: 16px;
  }
}
.navbar{
  //display: flex;
  display: block;
  text-align: center;
  padding: 1.6rem 4rem !important;
  justify-content: center !important;
  background: rgba(249, 201, 201, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  @media(max-width: 991px){
    padding: 1.6rem 1rem !important;
  }
  @media(min-width: 1312px){
    justify-content: space-between !important;
    //text-align: left;
    text-align: center;
  }
  .navbar-brand{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 95%;
    color: $darkblue;
    @media(max-width:767px){
      font-size: 16px;
      white-space: normal;
      margin-right: 0;
    }
    @media(max-width:420px){
      font-size: 14px;
    }  
  }
  .btn-primary{
    color: $white;
    &:hover{
      background: $darkpink;
      color: $white;
    }
  }
  .btn{
    padding: .9em 1.25em;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
    @media(max-width:767px){
      padding: .9em 0.6em;
      width: 100%;
    }
  }
  span{
    color: $lightestblue;
  }
}

.hero {
  padding: 300px 0 65px;
  @media(max-width: 991px){
    padding: 250px 0 65px;
  }
  @media(max-width: 767px){
    padding: 150px 0 65px;
  }
  .hero-box {
    padding: 75px 60px;
    border: 10px solid rgba(249, 201, 201, 0.95);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    background: $white;
    @media(max-width: 991px){
     padding: 75px 25px 35px;
    }
  }
  .hero-box-top {
    margin-top: -260px;
    @media(max-width: 991px){
      margin-top: -200px;
    }
    @media(max-width: 767px){
      margin-top: -150px;
    }
    @media(max-width: 575px){
      margin-top: -125px;
    }
    img {
      display: block;
      margin: 0 auto;
      text-align: center;
      max-height: 221px;
    }
  }
  .hero-box-main {
    color: $darkblue;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130.8%;
    letter-spacing: -0.02em;
    padding-top: 40px;
    h1 {
      color: $darkblue;
      font-family: Bevan;
      font-style: normal;
      font-weight: normal;
      font-size: 59px;
      line-height: 95px;
      text-transform: uppercase;
      margin-bottom: 50px;
      @media(max-width: 991px){
        font-size: 46px;
        line-height: 74px;
        margin-bottom: 25px;
      }
      @media(max-width: 767px){
        font-size: 32px;
        line-height: 51px;
      }
      span {
        font-family: Bevan;
        font-style: normal;
        font-weight: normal;
        font-size: 87px;
        line-height: 82px;
        @media(max-width: 991px){
          font-size: 67px;
          line-height: 63px;
        }
        @media(max-width: 767px){
          font-size: 46px;
          line-height: 43px;
        }
      }
    }
    h2 {
      color: $darkblue;
      font-family: Allan;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 91.5%;
      margin-bottom: 40px;
      @media(max-width: 991px){
        font-size: 22px;
      }
      span {
        font-family: Allan;
        font-style: normal;
        font-weight: normal;
      }
    }
    .fancy {
      color: $darkblue;
      font-family: Allan;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 130.8%;
      letter-spacing: -0.02em;
    }
  }
  .headline{
    padding: 10% 0 0;
    h2{
      font: 400 40px/60px 'Montserrat';
      color: $lightblue;
      @media(max-width:575px){
        font: 400 40px/50px 'Montserrat';
      }
      span{
        font: 700 48px/65px 'Montserrat';
        color: $darkergrey;
        @media(max-width:575px){
          font: 700 20px/26px 'Montserrat';
        }
      }
    }
  }
}


.subscribe {
  color: $white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background: $darkblue;
  p {margin-bottom: 20px;}
  .btn-primary {padding: .6em 1.25em;}
  &.subscribe-yellow {color: $darkblue; background: $paleyellow;}
}

.lead-section {
  padding: 70px 0;
  background: $white;
  @media(max-width: 991px){
    padding: 35px 0;
  }
}



#inquiry{
  padding: 60px 0;
  background: $darkblue;
  .btn {width: 158px; padding: 13.5px 0;}
  .form-wrapper {
    .form-bg {
      h2{
        font-family: "Allan", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 37px;
        text-align: center;
        letter-spacing: -0.02em;
        color: $white;
        @media(max-width:991px){
          font-size: 24px;
          line-height: 28px;
        }
        span {
          display: block;
          font-family: Work Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 39px;
          text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          margin-top: 5px;
          @media(max-width:991px){
            font-size: 28px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
footer {
  padding: 0;
  .footer-contact {
    padding: 75px 0;
    background: fixed $darkblue url(../img/bg_pills.png) repeat center top;
    .footer-box {
      padding: 60px 0;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
      background: $white;
    }
      .footer-inner {
        padding-bottom: 0; border: none;
      }
  }
  .fine {
    padding: 85px 0;
  }
}

