@import url('https://assets.snappykraken.com/global/css/utilities.css');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allan:wght@400;700&family=Bevan&family=Goblin+One&family=Roboto:wght@300;400;500;700&family=Work+Sans:ital,wght@0,400;0,700;1,500&display=swap');

$black: #000000;
$white: #ffffff;

$linkblue: #4C67AC;
$lightestblue: #FEFEFE;
$lightblue: #63C1EF;
$mediumblue: #32638E;
$blue: #285073;
$lightgrey: #ACACAC;
$grey: #707070;
$darkgrey: #96999C;
$darkergrey: #252525;
$lightpink: #F5D1C4;


$yellow: #FFDC65;
$orange: #EA9342;
$stickybar: #578184;

$paleyellow: #FFF7E1;
$pinkpill: #F9C9C9;
$pink: #E63D36;
$darkpink: #A31414;
$darkblue: #263C49;

body {
  background: #fff;
  font: 300 16px/1.5em 'Work Sans';
  -webkit-font-smoothing: antialiased;
}

b, strong {font-weight: 500;}

a {
  color: $linkblue;
}

.section {clear: both; float: left; width: 100%;}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}
.btn {
  border-radius: 0;
  border: 0;
  font: 700 18px 'Work Sans';
  padding: 1.2em 1.25em;
  white-space: normal;
  @media (max-width: 575px) {
    font: 700 18px 'Work Sans';
    padding: 1em 5px;
    width: 100%;
  }
  &.btn-primary {
    background: $pink;
    color: #fff;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.45);
    border-radius: 48px;
    &:hover {
      background: $darkpink;
      color: $white;
    }
    &:focus{
      box-shadow: 0 0 0 0.2rem rgba($pink,.5);
    }
  }
  &.btn-cta {
    // font: 700 30px 'Work Sans';
    font: 700 24px 'Work Sans';
    padding: .75em 1em;
    min-width: 287px;
  }
}
.modal-content {
  border-radius: 0;
  border: 0;
  .dismiss {
    color: $darkgrey;
    font-size: 24px;
    line-height: 1em;
    opacity: .9;
    z-index: 9;
    &:hover {
      opacity: .75;
    }
  }
}
.modal-backdrop.show {
  background-color: $lightblue;
  opacity: .61;
}
label {
  font-size: 18px;
  font-weight: 600;
}
.form-control {
  border-radius: 0;
  height: 45px;
  font: 400 18px 'Roboto';
  color: $grey;
  background: #EEC2C3;
  @media(max-width: 320px){
    font-size: 16px;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($grey, .25);
    border: $grey;
  }
}
.select-control{
  color: $black;

}
textarea.form-control {
  height: 100px;
}

.floating-label{position:relative;margin-bottom:1rem}.floating-label>input,.floating-label>label{height:3.125rem;padding:.75rem}.floating-label>label{position:absolute;top:0;left:0;display:block;width:100%;margin-bottom:0;line-height:1.5;color:#495057;pointer-events:none;cursor:text;border:1px solid transparent;border-radius:.25rem;transition:all .1s ease-in-out}.floating-label input::-webkit-input-placeholder{color:transparent}.floating-label input:-ms-input-placeholder{color:transparent}.floating-label input::-ms-input-placeholder{color:transparent}.floating-label input::-moz-placeholder{color:transparent}.floating-label input::placeholder{color:transparent}.floating-label input:not(:placeholder-shown){padding-top:1.25rem;padding-bottom:.25rem}.floating-label input:not(:placeholder-shown)~label{padding-top:.25rem;padding-bottom:.25rem;font-size:15px;color:$darkblue;}
.floating-label label {font: 400 18px "Roboto"; color: $darkblue;}

footer {
  padding: 50px 0;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  background: $white;
  a {color: $black;}
  .contact {
    font-size: 19px;
    @media(max-width: 575px){
      font-size: 16px;
    }
  }
}


.footer-inner {
  margin: 0 auto;
  padding-bottom: 70px;
  border-bottom: 3px solid #14497C;
  max-width: 760px;
  font-family: 'roboto';
  font-size: 15px;
  line-height: 175%;
  .footer-vessel-adviser {font-size: 20px; line-height: 130%;}
  .footer-vessel-name {font-size: 18px; font-weight: 700; line-height: 100%;}
  @media(max-width: 575px){
    padding-bottom: 25px;
  }
}
.disclosure {
  font: 400 16px/20.93px "Work Sans";
}

.registration {
  @import 'registration';
}
#opt-in {
  @import 'opt-in';
}
#exit{
  @import 'exit';
}
.tripwire {
  @import 'tripwire';
}
.confirmation {
  @import 'confirmation';
}
.leadmagnet {
  @import 'leadmagnet';
}

//Platform Styling
.preview {
  .interstitial,  + #wrapper  .conf + .interstitial {
    display: none !important;
  }
}
// .preview + .display-modal, #exit{
//   .modal-content{
//     border: 30px solid #fff !important;
//     outline: 1px solid #ccc;
//   }
// }
.preview + #opt-in{
  .modal-content{
    border: 1px solid #ccc !important;
  }
}
.display-modal {
  position: relative !important;
  display: block !important;
  z-index: 1 !important;
  border-top: 1px solid #707070;
  padding: 3rem 0;
  h2{
    text-align: center;
    text-transform: uppercase;
  }
}


@supports (-ms-ime-align: auto) {
  .floating-label > label {
    display: none;
  }
  .floating-label input::-ms-input-placeholder {
    color: #777;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .floating-label > label {
    display: none;
  }
  .floating-label input:-ms-input-placeholder {
    color: #777;
  }
}