@import url("https://assets.snappykraken.com/global/css/utilities.css");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allan:wght@400;700&family=Bevan&family=Goblin+One&family=Roboto:wght@300;400;500;700&family=Work+Sans:ital,wght@0,400;0,700;1,500&family=Satisfy&display=swap");
body {
  background: #fff;
  font: 300 16px/1.5em 'Work Sans';
  -webkit-font-smoothing: antialiased; }

b, strong {
  font-weight: 500; }

a {
  color: #4C67AC; }

.section {
  clear: both;
  float: left;
  width: 100%; }

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0; }

.btn {
  border-radius: 0;
  border: 0;
  font: 700 18px 'Work Sans';
  padding: 1.2em 1.25em;
  white-space: normal; }

@media (max-width: 575px) {
  .btn {
    font: 700 18px 'Work Sans';
    padding: 1em 5px;
    width: 100%; } }

.btn.btn-primary {
  background: #E63D36;
  color: #fff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.45);
  border-radius: 48px; }

.btn.btn-primary:hover {
  background: #A31414;
  color: #ffffff; }

.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(230, 61, 54, 0.5); }

.btn.btn-cta {
  font: 700 24px 'Work Sans';
  padding: .75em 1em;
  min-width: 287px; }

.modal-content {
  border-radius: 0;
  border: 0; }

.modal-content .dismiss {
  color: #96999C;
  font-size: 24px;
  line-height: 1em;
  opacity: .9;
  z-index: 9; }

.modal-content .dismiss:hover {
  opacity: .75; }

.modal-backdrop.show {
  background-color: #63C1EF;
  opacity: .61; }

label {
  font-size: 18px;
  font-weight: 600; }

.form-control {
  border-radius: 0;
  height: 45px;
  font: 400 18px 'Roboto';
  color: #707070;
  background: #EEC2C3; }

@media (max-width: 320px) {
  .form-control {
    font-size: 16px; } }

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.25);
  border: #707070; }

.select-control {
  color: #000000; }

textarea.form-control {
  height: 100px; }

.floating-label {
  position: relative;
  margin-bottom: 1rem; }

.floating-label > input, .floating-label > label {
  height: 3.125rem;
  padding: .75rem; }

.floating-label > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out; }

.floating-label input::-webkit-input-placeholder {
  color: transparent; }

.floating-label input:-ms-input-placeholder {
  color: transparent; }

.floating-label input::-ms-input-placeholder {
  color: transparent; }

.floating-label input::-moz-placeholder {
  color: transparent; }

.floating-label input::placeholder {
  color: transparent; }

.floating-label input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem; }

.floating-label input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 15px;
  color: #263C49; }

.floating-label label {
  font: 400 18px "Roboto";
  color: #263C49; }

footer {
  padding: 50px 0;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background: #ffffff; }

footer a {
  color: #000000; }

footer .contact {
  font-size: 19px; }

@media (max-width: 575px) {
  footer .contact {
    font-size: 16px; } }

.footer-inner {
  margin: 0 auto;
  padding-bottom: 70px;
  border-bottom: 3px solid #14497C;
  max-width: 760px;
  font-family: 'roboto';
  font-size: 15px;
  line-height: 175%; }

.footer-inner .footer-vessel-adviser {
  font-size: 20px;
  line-height: 130%; }

.footer-inner .footer-vessel-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%; }

@media (max-width: 575px) {
  .footer-inner {
    padding-bottom: 25px; } }

.disclosure {
  font: 400 16px/20.93px "Work Sans"; }

.registration .hero {
  overflow: hidden;
  position: relative;
  background: #263C49; }

@media (min-width: 992px) {
  .registration .hero .container, .registration .hero .container-fluid {
    position: relative;
    z-index: 2; }
  .registration .hero:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 1;
    background: #F9CCCC; } }

.registration .hero p {
  font: 400 22px 'Montserrat';
  margin: 0;
  color: #96999C; }

@media (max-width: 767px) {
  .registration .hero p {
    font: 400 18px/24px 'Montserrat'; } }

.registration .hero .btn {
  max-width: 287px; }

@media (max-width: 767px) {
  .registration .hero .mobile-image-1 img {
    max-height: 350px; } }

.registration .hero em {
  display: block;
  color: #FFF7E1;
  font: 400 20px/26px 'Work Sans';
  margin-bottom: 20px; }

.registration .hero h1 {
  font: 700 42px/52px 'Work Sans';
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px; }

.registration .hero h1 strong {
  font-weight: 700; }

@media (max-width: 767px) {
  .registration .hero h1 {
    font: 700 32px/1.1em 'Work Sans'; } }

@media (max-width: 420px) {
  .registration .hero h1 {
    font: 700 24px/1.1em 'Work Sans'; } }

.registration .hero h2 {
  font: 500 24px 'Work Sans';
  font-style: italic;
  color: #F9C9C9; }

@media (max-width: 767px) {
  .registration .hero h2 {
    font-weight: 900; } }

.registration .hero ul {
  padding: 0 .5em 0 15px; }

@media (max-width: 575px) {
  .registration .hero ul {
    padding: 0; } }

.registration .hero ul li {
  font: 400 16px/22px 'Work Sans';
  color: #F9C9C9;
  position: relative;
  padding-left: 5px; }

@media (max-width: 768px) {
  .registration .hero ul li {
    font: 300 14px 'Work Sans'; } }

.registration .quote {
  background: #FFF7E1;
  color: #0D2646;
  padding: 60px 30px; }

.registration .quote blockquote {
  font: 400 28px/36.62px 'Allan'; }

@media (max-width: 575px) {
  .registration .quote blockquote {
    font-size: 21px; } }

#opt-in .modal-dialog {
  max-width: 640px;
  border: 0; }

@media (max-width: 767px) {
  #opt-in .modal-dialog {
    margin: .5rem !important; } }

#opt-in .image {
  background: #263C49; }

#opt-in .popup-form {
  padding: 20px 5px;
  background: #263C49; }

#opt-in .popup-form h3 {
  color: #ffffff;
  font: 400 55px/60.5px 'Alfa Slab One', cursive;
  margin-bottom: 30px; }

#opt-in .popup-form h4 {
  color: #ffffff;
  font: 500 25px/29.33px 'Work Sans';
  margin-bottom: 40px; }

#opt-in .popup-form p {
  color: #ADD6F9;
  font: 400 14px/16.41px "Roboto"; }

#opt-in .popup-form .btn-cta {
  width: 287px; }

#opt-in form {
  color: #ffffff;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  max-width: 538px; }

#exit .modal-dialog {
  max-width: 1106px; }

#exit .modal-content {
  color: #fff;
  background: #263C49; }

#exit .modal-content h3 {
  color: #ffffff;
  font: 400 55px/60.5px 'Alfa Slab One';
  margin-bottom: 40px; }

#exit .modal-content h4 {
  font: 400 32px/37.54px 'Work Sans';
  color: #FFF7E1; }

#exit .modal-content p {
  font: 700 24px 'Work Sans'; }

#exit .modal-content .btn-link {
  font-size: 16px;
  color: #fff;
  font-style: italic;
  font-weight: 400; }

#exit .modal-content .dismiss {
  display: inline-block;
  text-align: right;
  color: #c4c4c4;
  right: 20px;
  top: 20px; }

#exit .modal-content .spam {
  font-size: 14px;
  line-height: 16.41px;
  font-style: normal;
  font-weight: 400;
  color: #45AFED;
  font-family: "roboto"; }

#exit form {
  color: #000000;
  display: block;
  margin: 0 auto;
  max-width: 1026px; }

.tripwire .hero {
  background: #FFF7E1; }

.tripwire .hero h1 {
  text-transform: uppercase;
  font: 600 31px/130.8% 'Work Sans';
  color: #45AFED; }

@media (max-width: 575px) {
  .tripwire .hero h1 {
    font-size: 26px; } }

@media (max-width: 420px) {
  .tripwire .hero h1 {
    font-size: 24px; } }

@media (max-width: 320px) {
  .tripwire .hero h1 {
    font-size: 20px; } }

.tripwire .hero h2 {
  font: 700 43px/91.5% 'Allan', cursive;
  color: #0D2646;
  margin: 25px auto 0; }

@media (max-width: 575px) {
  .tripwire .hero h2 {
    font-size: 20px;
    line-height: 26px; } }

.tripwire .hero .box {
  position: relative;
  background: #263C49; }

.tripwire .hero .box.right {
  background: #F5D354; }

.tripwire .hero .box .btn-primary {
  color: #fff;
  font-size: 30px; }

@media (max-width: 991px) {
  .tripwire .hero .box .btn-primary {
    font-size: 24px; } }

.tripwire .hero .box p {
  font: 400 22px/30px 'Roboto';
  color: #fff;
  margin: 0; }

.tripwire .hero .box .content {
  min-height: 150px; }

.tripwire .hero .box .content h3 {
  font: 700 20px/110% 'Roboto'; }

.tripwire .hero .box .content p, .tripwire .hero .box .content h3 span {
  font: 400 20px/110% 'Roboto'; }

.tripwire .hero .box .content1 {
  color: #ffffff; }

.tripwire .hero .box .content2 h3 {
  color: #263C49; }

.tripwire .hero .box .content2 .btn-primary {
  background: #ffffff;
  color: #263C49; }

.tripwire .hero .box .content2 .btn-primary:hover {
  color: #ffffff;
  background: #263C49; }

.tripwire .hero .box .content2 .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 80, 115, 0.5); }

.tripwire .hero h3 {
  font: 700 28px 'Roboto';
  color: #fff; }

.tripwire .hero h3 em {
  font: italic 400 30px 'Roboto'; }

.tripwire #inquiry {
  color: #ffffff;
  background: #263C49; }

.tripwire #inquiry h2 {
  color: #ffffff;
  font: 500 italic 31px/43.4px 'Roboto'; }

@media (max-width: 767px) {
  .tripwire #inquiry h2 {
    font: 500 italic 24px/32px 'Roboto'; } }

.tripwire #inquiry small {
  font-style: italic; }

.tripwire #inquiry .custom-select::placeholder {
  color: #ACACAC !important; }

.tripwire #inquiry form {
  max-width: 1000px; }

.tripwire #inquiry .form-control {
  color: #263C49; }

.tripwire #inquiry .form-control::placeholder {
  color: #263C49; }

.tripwire .btn-primary {
  padding: .48em 1.25em;
  display: block;
  max-width: 291px;
  margin: 0 auto; }

.tripwire .disclouser-box {
  margin: 50px auto 0;
  padding: 0 15px;
  max-width: 742px; }

.tripwire .tripwire-boxes {
  position: relative;
  z-index: 1;
  margin-top: -50px; }

.confirmation .hero {
  padding: 40px 0;
  color: #ffffff;
  background: #263C49; }

.confirmation .hero h1 {
  color: #ffffff;
  font: 700 38px/63.19px 'roboto';
  margin-bottom: 50px; }

.confirmation .hero h1 span {
  display: block;
  font: 400 30px/49.89px 'roboto'; }

@media (max-width: 991px) {
  .confirmation .hero h1 {
    font: 700 24px/36px 'roboto'; }
  .confirmation .hero h1 span {
    font: 400 18px/30px 'roboto'; } }

@media (max-width: 575px) {
  .confirmation .hero h1 {
    font: 700 18px/24px 'roboto'; }
  .confirmation .hero h1 span {
    font: 400 16px/20px 'roboto'; } }

.confirmation .hero .thankyou {
  font: 500 18px 'Roboto';
  color: #F9C9C9; }

@media (max-width: 575px) {
  .confirmation .hero .thankyou {
    font-size: 16px; } }

.confirmation .hero h3 {
  font: 400 24px 'Satisfy'; }

@media (max-width: 991px) {
  .confirmation .hero h3 {
    font: 400 18px 'Satisfy'; } }

.confirmation .hero .office {
  color: #F9C9C9;
  font: 400 20px 'Roboto'; }

.confirmation .hero .office span {
  font-weight: 700; }

@media (max-width: 767px) {
  .confirmation .hero .office {
    font-size: 18px; } }

.confirmation .hero .btn-primary {
  display: block;
  max-width: 482px;
  margin: 0 auto;
  padding: .93em 1.25em; }

.leadmagnet .navbar {
  padding: 1.6rem 4rem !important;
  justify-content: center !important;
  text-align: center; }

@media (max-width: 991px) {
  .leadmagnet .navbar {
    padding: 1.6rem 1rem !important; } }

@media (min-width: 1312px) {
  .leadmagnet .navbar {
    justify-content: space-between !important;
    text-align: left; } }

.leadmagnet .navbar .navbar-brand {
  font-size: 18px !important; }

@media (max-width: 767px) {
  .leadmagnet .navbar .navbar-brand {
    font-size: 16px !important;
    white-space: normal;
    margin-right: 0; } }

@media (max-width: 420px) {
  .leadmagnet .navbar .navbar-brand {
    font-size: 14px !important; } }

.leadmagnet .navbar .navbar-brand:hover {
  color: #FEFEFE !important; }

.leadmagnet .navbar .btn-primary {
  color: #ffffff; }

.leadmagnet .navbar .btn-primary:hover {
  background: #A31414;
  color: #ffffff; }

.leadmagnet .navbar .btn {
  padding: .9em 1.25em;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px #00000040; }

@media (max-width: 767px) {
  .leadmagnet .navbar .btn {
    padding: .9em 0.6em;
    width: 100%; } }

.leadmagnet .navbar span {
  color: #FEFEFE; }

.leadmagnet .bg-light {
  background: #578184 !important; }

.leadmagnet .hero {
  background: #ffffff url(../img/bg_hero.png) no-repeat left top/100%; }

.leadmagnet .hero .headline {
  padding: 10% 0 0; }

.leadmagnet .hero .headline h2 {
  font: 400 40px/60px 'Montserrat';
  color: #63C1EF; }

@media (max-width: 575px) {
  .leadmagnet .hero .headline h2 {
    font: 400 40px/50px 'Montserrat'; } }

.leadmagnet .hero .headline h2 span {
  font: 700 48px/65px 'Montserrat';
  color: #252525; }

@media (max-width: 575px) {
  .leadmagnet .hero .headline h2 span {
    font: 700 20px/26px 'Montserrat'; } }

.leadmagnet .section {
  padding: 5rem 0;
  color: #263C49; }

@media (max-width: 767px) {
  .leadmagnet .section {
    padding: 3rem 0; } }

.leadmagnet .number {
  color: #fff;
  background: no-repeat 50%/cover url(../img/bg_number.png);
  padding: 1rem; }

.leadmagnet h4 {
  margin: 0; }

.leadmagnet li {
  margin: 0 0 5px; }

.leadmagnet .questions {
  position: relative; }

.leadmagnet .questions:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/bg_border.png);
  background-repeat: no-repeat;
  background-size: 100%; }

@media (max-width: 420px) {
  .leadmagnet .questions:before {
    background-size: 150%; } }

.leadmagnet .grey {
  background: #F3F3F3; }

.leadmagnet .white {
  background: #fff; }

.leadmagnet h5 {
  font: 400 40px/44px 'Montserrat'; }

.leadmagnet .last {
  font: italic 700 29px/40px 'Montserrat'; }

@media (max-width: 767px) {
  .leadmagnet .last {
    font: italic 700 24px/36px 'Montserrat'; } }

.leadmagnet .last a {
  color: #263C49; }

.leadmagnet #intro {
  padding: 4rem 0; }

.leadmagnet #intro .container {
  width: 80%; }

.leadmagnet #intro .list {
  background: no-repeat 50%/cover url(../img/bg_highlight.png); }

.leadmagnet #intro .list h3 {
  font: italic 700 22px 'Montserrat'; }

.leadmagnet #intro .list .list-items {
  font-size: 22px;
  line-height: 33px; }

.leadmagnet #intro .image1 img {
  position: absolute;
  left: -12%;
  top: -18%; }

@media (max-width: 991px) {
  .leadmagnet #intro .image1 img {
    position: relative;
    top: 0;
    left: 0; } }

@media (max-width: 991px) {
  .leadmagnet #intro .image1 {
    text-align: center;
    padding: 3rem 0; } }

.leadmagnet #intro .image2 img {
  top: 35%;
  left: 95%;
  position: absolute; }

@media (max-width: 991px) {
  .leadmagnet #intro .image2 img {
    position: relative;
    top: 0;
    left: 0; } }

@media (max-width: 991px) {
  .leadmagnet #intro .image2 {
    text-align: center;
    padding: 3rem 0 0; } }

.leadmagnet .subscribe {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background: #263C49; }

.leadmagnet .subscribe p {
  margin-bottom: 35px; }

.leadmagnet .box {
  float: right;
  color: #000000;
  margin-left: 50px;
  max-width: 1205px;
  padding: 50px;
  border: 3px solid #000000;
  border-right: none;
  background: #ffffff;
  position: relative; }

@media (min-width: 1920px) {
  .leadmagnet .box {
    margin: 0 auto !important;
    float: none !important;
    border: 3px solid #000000 !important; } }

.leadmagnet .box h2 {
  color: #EA9342;
  font: 300 22px 'Work Sans';
  margin-bottom: 40px; }

.leadmagnet .box h2 span {
  display: block;
  margin-top: 10px;
  color: #000000;
  font: 700 24px 'Montserrat'; }

.leadmagnet .box.box-alt {
  float: left;
  margin-left: 0;
  margin-right: 50px;
  border: 3px solid #000000;
  border-left: none; }

@media (max-width: 767px) {
  .leadmagnet .box .image1 img {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-height: 200px; } }

.leadmagnet #one {
  background: #A31414 url(../img/bg_one.png) no-repeat right bottom/100%; }

.leadmagnet #one .image1 {
  margin-left: -155px; }

@media (max-width: 767px) {
  .leadmagnet #one .image1 {
    margin: 0 auto 35px; } }

@media (max-width: 767px) {
  .leadmagnet #one .image1 img {
    display: block;
    margin: 0 auto;
    max-width: 100%; } }

.leadmagnet #two {
  background: #F5EEDA url(../img/bg_two.png) no-repeat left bottom/100%; }

.leadmagnet #two .box {
  max-width: 1042px; }

.leadmagnet #two .image1 {
  margin-right: -195px; }

@media (max-width: 767px) {
  .leadmagnet #two .image1 {
    margin: 0 auto 35px; } }

.leadmagnet #two .image1 img {
  float: right; }

@media (max-width: 767px) {
  .leadmagnet #two .image1 img {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 100%; } }

.leadmagnet #three {
  background: #EA9342 url(../img/bg_three.png) no-repeat right bottom/100%; }

.leadmagnet #three .box {
  max-width: 1145px; }

.leadmagnet #three .image1 {
  margin-left: -100px; }

@media (max-width: 767px) {
  .leadmagnet #three .image1 {
    margin: 0 auto 35px; } }

@media (max-width: 767px) {
  .leadmagnet #three .image1 img {
    display: block;
    margin: 0 auto;
    max-width: 100%; } }

.leadmagnet #four {
  background: #E63D36 url(../img/bg_four.png) no-repeat right bottom/100%; }

.leadmagnet #four .box {
  max-width: 1086px; }

.leadmagnet #four .image1 {
  margin-right: -150px; }

@media (max-width: 767px) {
  .leadmagnet #four .image1 {
    margin: 0 auto 35px; } }

.leadmagnet #four .image1 img {
  float: right; }

@media (max-width: 767px) {
  .leadmagnet #four .image1 img {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 100%; } }

.leadmagnet #lesson {
  background: #285073;
  color: #fff;
  padding: 5rem 0; }

.leadmagnet #lesson h2 {
  font: 400 44px 'Montserrat';
  color: #FFDC65;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .leadmagnet #lesson h2 {
    font: 400 40px/44px 'Montserrat'; } }

.leadmagnet #lesson .yellow a {
  color: #FFDC65; }

.leadmagnet #vessel {
  position: relative; }

.leadmagnet #vessel .signature {
  font: 400 30px/38px 'Montserrat';
  color: #263C49; }

.leadmagnet #vessel .signature strong {
  font-weight: normal; }

@media (max-width: 575px) {
  .leadmagnet #vessel .signature {
    font-size: 24px; } }

.leadmagnet #vessel .contact i {
  font-size: 50px;
  font-family: 'Montserrat';
  font-style: normal; }

.leadmagnet #vessel .contact a {
  background: #63C1EF;
  color: #263C49;
  text-decoration: none; }

.leadmagnet #vessel .contact a strong {
  margin-top: 1rem;
  font: 400 24px 'Montserrat'; }

.leadmagnet #vessel .contact a:first-child {
  background: #FEFEFE; }

.leadmagnet #vessel .contact a:first-child:hover {
  background: #60b3dc; }

.leadmagnet #vessel .contact a:last-child {
  background: #263C49;
  color: #fff; }

.leadmagnet #vessel .contact a:last-child:hover {
  background: #305976; }

.leadmagnet #vessel .contact a:hover {
  background: #84bbd6;
  color: #fff; }

.leadmagnet #final-grouping {
  color: #000000;
  padding: 115px 0;
  background: #ffffff url(../img/bg_final_grouping.png) no-repeat right top/100%; }

@media (max-width: 575px) {
  .leadmagnet #final-grouping {
    background-size: auto; } }

.leadmagnet #final-grouping #final-text h2 {
  font: 700 48px 'Montserrat';
  color: #000000;
  margin-bottom: 80px; }

.leadmagnet #final-grouping #final-text p {
  margin-bottom: 30px; }

.leadmagnet #final-grouping #final-text p:last-child {
  margin-bottom: 0; }

.leadmagnet #final-grouping #inquiry {
  margin-top: 90px; }

.leadmagnet #final-grouping #inquiry .form-wrapper {
  margin: 0 auto;
  max-width: 924px; }

.leadmagnet #final-grouping #inquiry .form-wrapper .form-bg {
  background: #F5D1C4; }

.leadmagnet #final-grouping #inquiry .form-wrapper .form-bg h2 {
  color: #000000;
  font: 700 24px/29px 'Montserrat';
  margin-bottom: 40px; }

.leadmagnet #final-grouping #inquiry .form-wrapper .form-bg h2:after {
  display: block;
  content: '';
  width: 320px;
  height: 1px;
  margin: 40px auto 0;
  background: #000000; }

@media (max-width: 575px) {
  .leadmagnet #final-grouping #inquiry .form-wrapper .form-bg h2:after {
    width: 220px; } }

.preview .interstitial, .preview + #wrapper .conf + .interstitial {
  display: none !important; }

.preview + #opt-in .modal-content {
  border: 1px solid #ccc !important; }

.display-modal {
  position: relative !important;
  display: block !important;
  z-index: 1 !important;
  border-top: 1px solid #707070;
  padding: 3rem 0; }

.display-modal h2 {
  text-align: center;
  text-transform: uppercase; }

@supports (-ms-ime-align: auto) {
  .floating-label > label {
    display: none; }
  .floating-label input::-ms-input-placeholder {
    color: #777; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .floating-label > label {
    display: none; }
  .floating-label input:-ms-input-placeholder {
    color: #777; } }
