// Fonts: Barlow Condensed + Open Sans
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&family=Open+Sans:wght@400;600&display=swap');
// @import '../../assets/css/styles';

$flame: #F65349;
$whiteSmoke: #FEFEFE;
$onyx: #050C17;

body {
    font-size: 18px;
    font-family: 'Open Sans';
    width: 100%;
    color: $whiteSmoke;
    text-align: center;

    @media(max-width: 576px) {
        font-size: 16px;
    }
}

//Font Styles
.title {

    color: $whiteSmoke;
    font-family: 'Barlow Condensed';
    font-size: 64px;
    font-weight: 600;
    
    @media(max-width: 768px) {
        font-size: 56px;
    }
    @media(max-width: 576px) {
        font-size: 32px;
        line-height: 1.2em;
    }

}

h2 {
    
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 600;
    color: $whiteSmoke;

    @media(max-width: 576px) {
        font-size: 22px;
        line-height: 1em;
    }

}

.hr {
    width: 70px;
    height: 1px;
    background-color: $whiteSmoke;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.form-bg {
    width: 70%;

    @media(max-width: 768px) {
        width: 90%;
    }
}

.form-field-tag {
    width: 200px;
    display: inline-block;
    font-size: 16px;
    text-align: start;

    @media (max-width: 576px) {
        width: auto;
    }
}

.button {

    font-size: 22px; 
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    border-radius: 30px;

    @media(max-width: 576px) {
        font-size: 18px;
    }

    
}

.button-black {
    background-color: $onyx;
    color: $whiteSmoke;

    &:hover {
        color: $whiteSmoke;
        background-color: #3C434D;
    }
}

.widget-bg {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.widget-bg-left {
    position: absolute;
    left: -25%;
    bottom: -20%;
    z-index: -1;
}

.widget-bg-right {
    position: absolute;
    right: -25%;
    top: 0;
    z-index: -1;
}

.widget-text-wrapper {
    background-color: $flame;
    height: 90vh;
    border-radius: 20px;
    z-index: 9999;
    padding-top: 100px !important;
    @media(max-width: 576px) {
        padding-top: 0 !important;
    }
}

.widget-img {
    position: absolute;
    top: -50px;
    right: 45%;

    @media(max-width: 768px) {
        display: none;
    }
}

