.modal-dialog {
  max-width: 960px;
  border: 0;
  @media(max-width: 767px){
    margin: .5rem !important;
  }
}
.content {
  background: #fff;
  h3 {
    font: 700 30px/34px 'Roboto Condensed';
    color: $darkblue;
  }
  h4{
    font: 400 25px 'Roboto Condensed';
    color: $darkblue;
  }
  p {
    font: 400 16px 'Roboto Condensed';
    color: #8E8E8E;
  }
}
.image {
    background: $darkblue;
  }
  img {
    max-width: 572px;
    position: absolute;
    left: -25px;
    top: -15px;
    @media(max-width: 991px){
      position: relative;
      max-width: 100%;
      vertical-align: middle;
      position: initial;
      top: 0;
      left: 0;
    }
  }
  .modal-content {overflow: hidden;}