.hero {
  overflow: hidden;
  position: relative;
  background: #F1EFE5;
  p{
    font: 400 22px 'Montserrat';
    margin: 0;
    color: $darkgrey;
    @media(max-width: 767px){
      font: 400 18px/24px 'Montserrat';
    }
  }
  .btn {max-width: 337px;}
  em {
    display: block;
    color: $black;
    font: 500 32px 'Oswald';
    margin-bottom: 20px;
    &:after {
      display: block;
      content: '';
      margin-top: 20px;
      width: 100%;
      max-width: 378px;
      height: 1px;
      background: $black;
    }
  }
  h1 {
    font: 700 38px 'Montserrat';
    color: $darkpink;
    margin-bottom: 30px;
    strong{
      font-weight: 700;
    }
    @media (max-width: 767px) {
      font: 700 38px/1.1em 'Montserrat';
    }
    @media(max-width:420px){
      font: 700 34px/1.1em 'Montserrat';
    }
  }
  h2 {
    font: 700 24px 'Montserrat';
    color: $black;
    @media (max-width: 767px) {
      font-weight: 900;      
    }
  }
  ul {
    padding: 0 .5em 0 0;
    list-style: none;
    @media (max-width: 575px) {
      padding: 0;
    }
    li {
      font: 300 18px 'Oswald';
      color: #050C17;
      margin-bottom: 20px;
      position: relative;
      padding-left: 35px;
      @media (max-width: 768px) {
        font: 300 18px 'Oswald';
      }
      @media (max-width: 575px) {
        font: 300 16px 'Oswald';
      }
      &:before {
        content: '';
        background: no-repeat 50% 50% / contain url('../img/ico_check.png');
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        margin-right: .25em;
      }
    }
  }
}
.quote {
  background: $orange;
  color: $white;
  padding: 65px 30px;
  blockquote {
    font: 400 24px/32px 'Montserrat';
    em {
      font-weight: 700;
    }
    @media (max-width: 575px) {
      font-size: 21px;
    }
  }
}
.disclosure-container {margin: 0 auto; max-width: 712px; font-family: 'open sans'; font-size: 18px;}
