
.hero {
  background: $orange url(../img/bg_tripwire.png) no-repeat left bottom / 100%;
  h1 {
    font: 700 48px/59px 'Montserrat';
    color: $lightestblue;
    margin-bottom: 30px;
    @media(max-width: 575px) {
      font-size: 38px;
      line-height: 42px;
    }
    @media(max-width: 420px){
      font-size: 36px;
      line-height: 40px;
    }
    @media(max-width: 320px){
      font-size: 34px;
      line-height: 36px;
    }
  }
  h2 {
    font: 500 32px/47px 'Oswald';
    color: $lightestblue;
    margin-bottom: 15px;
    @media(max-width: 575px){
      font-size: 20px;
      line-height: 26px;
    }
    @media(max-width: 1024px){
      width: 70%;
    }
    @media(max-width: 991px){
      width: 75%;
    }
    @media(max-width: 767px){
      width: 100%;
    }
  }
  h3 {
    font: 300 28px 'Roboto Condensed';
    color: #fff;
    span{
      display: block;
      font: 700 31px 'Roboto Condensed';
    }
  }
  .box {
    color: #fff;
    p {
      font: 400 22px/30px 'Roboto Condensed';
      color: #fff;
      margin: 0;
    }
    .content{
      height: 130px;
      @media(max-width:1199px){
        height: 150px; 
      }
      @media(max-width:991px){
        height: 180px;
      }
      @media(max-width: 767px){
        height: auto;
      }
    }
    .content1{
      h3{
        font-size: 28px;
        font-weight: 700;
      }
      .btn-primary{
        &:hover{
          background: #fff;
          color: $darkblue;
        }
        &:focus{
          box-shadow: 0 0 0 0.2rem rgba($pink,0.5);
        }
      }
  }
    .content2{
      h3{
        em{
          font-weight: 400;
        }
      }
      .btn-primary{
        background: $lightblue;
        color: $darkblue;
        &:hover{
          background: #fff;
          color: $darkblue;
        }
        &:focus{
          box-shadow: 0 0 0 0.2rem rgba($lightblue,0.5);
        }
      }
    }
  }
  .left{
    background: $darkblue;
  }
  .right{
    background: $blue;
    } 
  }


#inquiry {
  background: #CEE1E7;
  color: $darkblue;
  h2 {
    font: 300 32px 'Oswald';
    text-transform: uppercase;
  }
  small {
    font-style: italic;
  }
  .custom-select{
    &::placeholder{
      color: $lightgrey !important;
    }
  }
}
.btn-primary{
  font-size: 22px;
  padding: .9em 1.25em;
  width: 11em;
  height: 3em;
  @media(max-width:575px){
    width: 100%;
  }
}

.disclouser-box {
  margin: 50px auto 0;
  padding: 0 15px;
  max-width: 742px;
}

.tripwire-boxes {
  position: relative;
  z-index: 1;
  margin-top: -50px;
}