#confirmation {
  p {
      font: 400 17px/23.8px 'Spartan';
      color: $black;
      margin: 0;
      strong {
          font-size: 30px;
      }
  }
  .btn{
      font-size: 20px;
  }
    .btn-primary {
        background-color: $darkpink;
        &:hover {
           background-color: $pink; 
        }
    }
  .d-md-flex, .p-2 {
      padding: 0 !important;
  }
  .logoBox {
      background: #fff;
      border-bottom: none;
      color: $black;
      img {
          margin: 0px auto;
      }
      strong {
          font: 500 32px 'Spartan';
        @media(max-width:767px){
            font: 500 20px 'Spartan';
        }
      }
  }
  .logoBox, .flex-fill {
      padding: 2rem !important;
  }
  .box {
      color: #fff;
      z-index: 2;
      position: relative;
      padding: 0 !important;
      &:first-child a {
          background: $darkpink;
          &:before {
              content: '#';
              display: block;
          }
          &:hover{
              background: $darkerpink
          }
      }
      &:nth-child(2) a {
          background: $brown;
          &:before {
              content: '@';
              display: block;
          }
          &:hover{
            background: $darkbrown
        }
      }
      &:last-child a {
          background: $pink;
          &:before {
              content: 'W';
              display: block;
          }
          &:hover{
            background: $punch;
        }
      }
      a {
          color: #fff;
          text-decoration: none;
          display: block;
          text-align: left;
          padding: 2.15rem 1.5rem; 
          &:before {
              font: 700 28px 'Spartan';
              display: block;
              margin: 5px;
              text-transform: none;
          }
          i {
              display: none !important;
          }
          strong {
              font: 400 20px 'Spartan';
          }
      }
  }
  .modal-header {
    background: $husk;
    color: #fff;
    border-radius: 0;
    border: 0;
    display: inline;
    h5 {
        font: 700 38px 'Spartan';
        text-transform: uppercase;
    }
  }
}
